Repository xeonchen/twsoftball: changes, and which Codecov flags are due for each by the changed paths.
All: merged, domain, application, infrastructure, shared, web

feat(web): add lineup management type definitions with TDD
  apps/web/src/shared/lib/types/index.ts
  apps/web/src/shared/lib/types/lineup.test.ts
  apps/web/src/shared/lib/types/lineup.ts
Due: web

feat(web): integrate Short Fielder (SF) as 10th defensive position
  apps/web/package.json
  apps/web/src/pages/game-setup/ui/GameSetupLineupPage.test.tsx
  apps/web/src/pages/game-setup/ui/GameSetupLineupPage.tsx
  apps/web/src/shared/api/mappers/commandMapper.test.ts
  apps/web/src/shared/lib/types/lineup.test.ts
  apps/web/src/shared/lib/types/lineup.ts
Due: web

feat(web): implement lineup management feature slice with TDD
  apps/web/src/entities/game/api/gameAdapter.ts
  apps/web/src/entities/game/model/gameStore.ts
  apps/web/src/features/lineup-management/index.ts
  apps/web/src/features/lineup-management/model/index.ts
  apps/web/src/features/lineup-management/model/useLineupManagement.test.ts
  apps/web/src/features/lineup-management/model/useLineupManagement.ts
  apps/web/src/features/lineup-management/ui/LineupEditor.test.tsx
  apps/web/src/features/lineup-management/ui/LineupEditor.tsx
  apps/web/src/features/lineup-management/ui/PositionAssignment.test.tsx
  apps/web/src/features/lineup-management/ui/PositionAssignment.tsx
  apps/web/src/features/lineup-management/ui/SubstitutionDialog.test.tsx
  apps/web/src/features/lineup-management/ui/SubstitutionDialog.tsx
  apps/web/src/features/lineup-management/ui/index.ts
  apps/web/src/shared/api/di/container.ts
Due: web

fix: resolve circular dependencies and add app initialization test
  .dependency-cruiser.cjs
  apps/web/src/app/providers/appServices.tsx
  apps/web/src/entities/game/model/gameUseCases.test.ts
  apps/web/src/entities/game/model/gameUseCases.ts
  apps/web/src/shared/api/di/container.test.ts
  apps/web/src/test/integration/app-initialization.integration.test.tsx
  apps/web/src/test/integration/gameSetup.integration.test.tsx
  apps/web/src/test/setup.ts
  apps/web/src/widgets/bench-management/model/index.ts
  apps/web/src/widgets/bench-management/model/types.ts
  apps/web/src/widgets/bench-management/model/useBenchManagement.ts
  apps/web/src/widgets/bench-management/ui/BenchPlayerCard.tsx
  apps/web/vite.config.ts
  packages/application/src/index.ts
  packages/application/src/services/ApplicationFactory.test.ts
  packages/application/src/services/ApplicationFactory.ts
  packages/application/src/services/DIContainer.integration.test.ts
  packages/application/src/services/DIContainer.test.ts
  packages/application/src/services/DIContainer.ts
  packages/infrastructure/package.json
  packages/infrastructure/src/index.ts
Due: merged, application, infrastructure, web

feat(web): implement bench management widget for lineup substitutions
  apps/web/src/features/substitute-player/model/useSubstitutePlayerAPI.test.ts
  apps/web/src/features/substitute-player/ui/SubstitutePlayerForm.test.tsx
  apps/web/src/widgets/bench-management/index.ts
  apps/web/src/widgets/bench-management/model/index.ts
  apps/web/src/widgets/bench-management/model/useBenchManagement.test.ts
  apps/web/src/widgets/bench-management/model/useBenchManagement.ts
  apps/web/src/widgets/bench-management/ui/BenchManagementWidget.test.tsx
  apps/web/src/widgets/bench-management/ui/BenchManagementWidget.tsx
  apps/web/src/widgets/bench-management/ui/BenchPlayerCard.test.tsx
  apps/web/src/widgets/bench-management/ui/BenchPlayerCard.tsx
  apps/web/src/widgets/bench-management/ui/index.ts
  steiger.config.ts
Due: web

feat(web): add production monitoring and lazy loading for lineup management (Phase 5.3.D)
  .dependency-cruiser.cjs
  apps/web/e2e/global-setup.ts
  apps/web/e2e/global-teardown.ts
  apps/web/e2e/lineup-management/lineup-editor.spec.ts
  apps/web/e2e/lineup-management/substitution-workflow.spec.ts
  apps/web/package.json
  apps/web/playwright.config.ts
  apps/web/src/app/App.tsx
  apps/web/src/features/lineup-management/ui/EnhancedLineupComponents.test.tsx
  apps/web/src/features/lineup-management/ui/EnhancedLineupComponents.tsx
  apps/web/src/features/lineup-management/ui/LazyLineupComponents.test.tsx
  apps/web/src/features/lineup-management/ui/LazyLineupComponents.tsx
  apps/web/src/features/lineup-management/ui/LineupEditor.test.tsx
  apps/web/src/features/lineup-management/ui/LineupEditor.tsx
  apps/web/src/features/lineup-management/ui/PositionAssignment.tsx
  apps/web/src/features/lineup-management/ui/SubstitutionDialog.test.tsx
  apps/web/src/features/lineup-management/ui/SubstitutionDialog.tsx
  apps/web/src/features/lineup-management/ui/index.ts
  apps/web/src/pages/game-recording/ui/GameRecordingPage.tsx
  apps/web/src/shared/lib/monitoring.test.ts
  apps/web/src/shared/lib/monitoring.ts
  apps/web/src/shared/ui/ErrorBoundary.tsx
  apps/web/src/shared/ui/LazyComponent.test.tsx
  apps/web/src/shared/ui/LazyComponent.tsx
  apps/web/src/shared/ui/LoadingStates.test.tsx
  apps/web/src/shared/ui/LoadingStates.tsx
  apps/web/src/shared/ui/index.ts
  apps/web/src/test/setup.ts
  apps/web/src/widgets/at-bat-panel/ui/AtBatActionPanel.test.tsx
  apps/web/src/widgets/bench-management/index.ts
  apps/web/src/widgets/bench-management/ui/index.ts
  apps/web/tsconfig.json
  apps/web/vite.config.ts
  apps/web/vitest.config.ts
  docs/api/lineup-management.md
  eslint.config.js
  pnpm-lock.yaml
  steiger.config.ts
Due: merged, web

feat(web): integrate lineup management into game recording page (Phase 5.3.D)
  apps/web/src/features/lineup-management/index.ts
  apps/web/src/features/lineup-management/model/useLineupManagement.ts
  apps/web/src/features/lineup-management/ui/LineupEditor.test.tsx
  apps/web/src/features/lineup-management/ui/LineupEditor.tsx
  apps/web/src/features/lineup-management/ui/SubstitutionDialog.tsx
  apps/web/src/features/lineup-management/ui/SubstitutionHistory.tsx
  apps/web/src/features/lineup-management/ui/index.ts
  apps/web/src/features/substitute-player/model/useSubstitutePlayerAPI.test.ts
  apps/web/src/features/substitute-player/model/useSubstitutePlayerAPI.ts
  apps/web/src/pages/game-recording/ui/GameRecordingPage.test.tsx
  apps/web/src/pages/game-recording/ui/GameRecordingPage.tsx
  apps/web/src/shared/lib/types/lineup.ts
Due: web

feat(web): integrate substitute player feature with application layer
  apps/web/src/features/lineup-management/ui/LineupEditor.test.tsx
  apps/web/src/features/lineup-management/ui/SubstitutionDialog.test.tsx
  apps/web/src/features/lineup-management/ui/SubstitutionDialog.tsx
  apps/web/src/features/substitute-player/api/index.ts
  apps/web/src/features/substitute-player/api/substitutePlayer.test.ts
  apps/web/src/features/substitute-player/api/substitutePlayer.ts
  apps/web/src/features/substitute-player/index.ts
  apps/web/src/features/substitute-player/lib/index.ts
  apps/web/src/features/substitute-player/model/index.ts
  apps/web/src/features/substitute-player/model/useSubstitutePlayer.test.ts
  apps/web/src/features/substitute-player/model/useSubstitutePlayer.ts
  apps/web/src/features/substitute-player/ui/SubstitutePlayerForm.tsx
  apps/web/src/features/substitute-player/ui/index.ts
  package.json
  steiger.config.ts
Due: web

test(web): improve test coverage and reduce code duplication for PR #29
  apps/web/src/features/lineup-management/ui/EnhancedLineupComponents.test.tsx
  apps/web/src/features/lineup-management/ui/EnhancedLineupComponents.tsx
  apps/web/src/features/lineup-management/ui/LazyLineupComponents.test.tsx
  apps/web/src/features/lineup-management/ui/SubstitutionHistory.test.tsx
  apps/web/src/shared/lib/hooks/index.ts
  apps/web/src/shared/lib/hooks/useMonitoring.test.ts
  apps/web/src/shared/lib/hooks/useMonitoring.ts
  apps/web/src/shared/ui/errorBoundaryFactory.test.tsx
  apps/web/src/shared/ui/errorBoundaryFactory.ts
  apps/web/src/shared/ui/index.ts
Due: web

docs: add E2E testing commands to testing strategy guide
  docs/guides/testing-strategy.md
Due: none

test(web): improve lazy component and error boundary test coverage
  apps/web/src/features/lineup-management/index.ts
  apps/web/src/features/lineup-management/ui/LazyLineupComponents.test.tsx
  apps/web/src/features/lineup-management/ui/SubstitutionDialog.tsx
  apps/web/src/shared/ui/ErrorBoundary.test.tsx
  apps/web/src/shared/ui/LazyComponent.tsx
  apps/web/src/vite-env.d.ts
Due: web

fix(web): replace Math.random() with SecureRandom for security compliance
  apps/web/src/shared/lib/monitoring.ts
  apps/web/src/shared/ui/ErrorBoundary.tsx
  apps/web/src/test/setup.ts
  packages/application/src/index.ts
  packages/application/src/types/shared-exports.ts
Due: application, web

feat(web): add useUndoRedo hook with comprehensive test coverage
  apps/web/src/features/app-initialization/api/gameAdapter.ts
  apps/web/src/features/undo-redo/index.ts
  apps/web/src/features/undo-redo/model/useUndoRedo.test.ts
  apps/web/src/features/undo-redo/model/useUndoRedo.ts
  apps/web/src/shared/lib/context/appServices.tsx
  steiger.config.ts
Due: web

fix(deps): upgrade vite to 7.1.5+ for CVE-2025-58752 & CVE-2025-58751
  apps/web/package.json
  package.json
  pnpm-lock.yaml
Due: none

feat(web): integrate undo/redo UI into GameRecordingPage (Phase 5.3.E)
  apps/web/src/pages/game-recording/ui/GameRecordingPage.test.tsx
  apps/web/src/pages/game-recording/ui/GameRecordingPage.tsx
Due: web

feat(web): enhance undo/redo with sync states and game integration (Phase 5.3.E)
  apps/web/src/features/game-core/index.ts
  apps/web/src/features/game-core/model/hooks/useGameWithUndoRedo.test.tsx
  apps/web/src/features/game-core/model/hooks/useGameWithUndoRedo.ts
  apps/web/src/features/undo-redo/index.ts
  apps/web/src/features/undo-redo/model/useUndoRedo.test.ts
  apps/web/src/features/undo-redo/model/useUndoRedo.ts
  docs/design/ui-ux/component-specifications.md
Due: web

feat(test): add E2E infrastructure with proper production/test separation
  .github/workflows/ci.yml
  CLAUDE.md
  apps/web/e2e/lineup-management/lineup-editor.spec.ts
  apps/web/src/app/App.tsx
  apps/web/src/app/providers/router.tsx
  apps/web/src/features/lineup-management/model/useLineupManagement.ts
  apps/web/src/features/lineup-management/ui/LineupEditor.tsx
  apps/web/src/features/lineup-management/ui/SubstitutionDialog.test.tsx
  apps/web/src/features/lineup-management/ui/SubstitutionDialog.tsx
  apps/web/src/pages/home/ui/HomePage.tsx
  apps/web/src/pages/lineup-management/index.ts
  apps/web/src/pages/lineup-management/ui/LineupManagementPage.test.tsx
  apps/web/src/pages/lineup-management/ui/LineupManagementPage.tsx
Due: web

feat(test): complete E2E test implementation with 100% pass rate (27/27)
  .github/workflows/ci.yml
  CLAUDE.md
  apps/web/e2e/fixtures/gameStateFixtures.ts
  apps/web/e2e/helpers/apiMocks.ts
  apps/web/e2e/lineup-management/lineup-editor.spec.ts
  apps/web/e2e/lineup-management/substitution-workflow.spec.ts
  apps/web/e2e/page-objects/LineupManagementPage.ts
  apps/web/playwright.config.ts
  apps/web/src/entities/game/api/gameAdapter.test.ts
  apps/web/src/entities/game/api/gameAdapter.ts
Due: web

fix(web): address PR #35 review comments - undo/redo state management
  apps/web/src/features/app-initialization/api/gameAdapter.test.ts
  apps/web/src/features/app-initialization/api/gameAdapter.ts
  apps/web/src/features/undo-redo/model/useUndoRedo.test.ts
  apps/web/src/features/undo-redo/model/useUndoRedo.ts
  apps/web/src/pages/game-recording/ui/GameRecordingPage.tsx
Due: web

fix(web,config): resolve TypeScript cache invalidation and missing undo/redo methods
  apps/web/src/app/providers/appServices.tsx
  tsconfig.base.json
Due: web

fix(ci): scope Playwright installation to web workspace
  .github/workflows/ci.yml
Due: none

test(e2e): fix WebKit keyboard navigation tests
  CLAUDE.md
  apps/web/e2e/lineup-management/lineup-editor.spec.ts
  apps/web/e2e/lineup-management/substitution-workflow.spec.ts
Due: none

refactor(web): eliminate GameAdapter duplication and improve test coverage
  apps/web/e2e/helpers/apiMocks.ts
  apps/web/src/entities/game/api/gameAdapter.test.ts
  apps/web/src/entities/game/api/gameAdapter.ts
  apps/web/src/entities/game/index.ts
  apps/web/src/features/app-initialization/api/gameAdapter.test.ts
Due: web

test(web,ci): fix codecov coverage by excluding E2E files and adding provider tests
  .codecov.yml
  apps/web/src/app/providers/appServices.test.tsx
Due: merged

test(infrastructure): add comprehensive factory tests to fix coverage gap
  packages/infrastructure/src/memory/factory.test.ts
  packages/infrastructure/src/web/factory.test.ts
  packages/infrastructure/src/web/repositories/index.test.ts
Due: none

fix(ci): exclude E2E files from Vitest coverage collection
  apps/web/vitest.config.ts
Due: none

fix(web): resolve memory leak and accessibility issues in undo/redo
  apps/web/src/features/undo-redo/model/useUndoRedo.ts
  apps/web/src/pages/game-recording/ui/GameRecordingPage.tsx
Due: web

fix(test): resolve flaky timestamp comparison in AtBatResult test
  packages/application/src/dtos/AtBatResult.test.ts
Due: none

fix(test): rename performance benchmark to .perf.test.ts
  packages/infrastructure/src/performance/SnapshotCorrectness.test.ts
  packages/infrastructure/src/performance/SnapshotPerformanceSimulation.perf.test.ts
Due: none

fix(ci): skip Codecov uploads for Dependabot PRs
  .github/workflows/ci.yml
Due: none

fix(ci): restrict Claude review to only xeonchen's PRs
  .github/workflows/claude-code-review.yml
Due: none

chore(deps): upgrade 31 packages (defer React 19)
  apps/web/package.json
  package.json
  packages/application/package.json
  packages/infrastructure/package.json
  pnpm-lock.yaml
Due: none

chore(deps): upgrade React 19 and related packages
  apps/web/package.json
  apps/web/src/app/providers/appServices.tsx
  apps/web/src/features/lineup-management/ui/PositionAssignment.tsx
  apps/web/src/pages/game-recording/ui/GameRecordingPage.tsx
  apps/web/src/pages/game-setup/ui/GameSetupLineupPage.tsx
  apps/web/src/shared/lib/hooks/useErrorRecovery.ts
  apps/web/src/shared/lib/hooks/useTimerManager.ts
  apps/web/src/shared/ui/ErrorBoundary.test.tsx
  apps/web/src/widgets/bases-diamond/ui/BasesDiamond.tsx
  apps/web/src/widgets/game-header/ui/GameHeader.tsx
  apps/web/src/widgets/runner-advancement/ui/RunnerAdvancementPanel.tsx
  eslint.config.js
  package.json
  pnpm-lock.yaml
Due: web

chore(deps): update dependencies and remove deprecated @types/uuid
  apps/web/package.json
  package.json
  packages/application/package.json
  packages/domain/package.json
  packages/infrastructure/package.json
  packages/shared/package.json
  pnpm-lock.yaml
Due: none

fix(game-setup): resolve START GAME button and validation issues
  apps/web/e2e/game-setup/complete-game-flow.spec.ts
  apps/web/e2e/page-objects/GameSetupConfirmPage.ts
  apps/web/e2e/page-objects/GameSetupLineupPage.ts
  apps/web/e2e/page-objects/GameSetupTeamsPage.ts
  apps/web/src/app/App.tsx
  apps/web/src/features/game-setup/lib/domainValidation.test.ts
  apps/web/src/features/game-setup/lib/domainValidation.ts
  apps/web/src/features/game-setup/lib/index.ts
  apps/web/src/features/game-setup/model/useGameSetup.ts
  apps/web/src/pages/game-recording/ui/GameRecordingPage.tsx
  apps/web/src/pages/game-setup/ui/GameSetupConfirmPage.tsx
  apps/web/src/pages/game-setup/ui/GameSetupLineupPage.test.tsx
  apps/web/src/pages/game-setup/ui/GameSetupLineupPage.tsx
  apps/web/src/pages/game-setup/ui/GameSetupLineupPage.validation.test.tsx
  apps/web/src/shared/api/mappers/wizardToCommand.test.ts
  apps/web/src/shared/api/mappers/wizardToCommand.ts
  apps/web/src/test/integration/gameSetup.integration.test.tsx
Due: web

chore(deps): update dependencies to latest patch/minor versions
  apps/web/package.json
  package.json
  pnpm-lock.yaml
Due: none

refactor(architecture): implement composition root pattern to eliminate circular dependencies
  .dependency-cruiser.cjs
  CLAUDE.md
  apps/web/src/app/providers/appServices.test.tsx
  apps/web/src/app/providers/appServices.tsx
  apps/web/src/entities/game/model/gameUseCases.ts
  apps/web/src/features/substitute-player/ui/SubstitutePlayerForm.tsx
  apps/web/src/shared/lib/monitoring.test.ts
  apps/web/src/shared/lib/monitoring.ts
  apps/web/vite.config.ts
  docs/architecture-patterns.md
  docs/design/architecture.md
  packages/application/src/services/ApplicationFactory.test.ts
  packages/application/src/services/ApplicationFactory.ts
  packages/application/src/services/DIContainer.integration.test.ts
  packages/application/src/services/DIContainer.test.ts
Due: merged, application, web

chore(deps): update development dependencies to latest patch/minor versions
  apps/web/package.json
  package.json
  packages/infrastructure/package.json
  pnpm-lock.yaml
Due: none

Path conditions:
  merged: any of: ., but not: **/*.test.ts, **/*.spec.ts, **/test/**, **/tests/**, **/__tests__/**, **/*.test.tsx, **/*.spec.tsx, **/coverage/**, **/node_modules/**, **/dist/**, **/build/**, **/*.d.ts, **/vite.config.ts, **/vitest.config.ts, **/*.config.js, **/*.config.ts, **/tsconfig*.json, **/package.json, **/pnpm-lock.yaml, tools/**, scripts/**, .github/**, docs/**, **/*.stories.ts, **/*.stories.tsx, **/.storybook/**
  domain: any of: packages/domain/src/, but not: **/*.test.ts, **/*.spec.ts, **/test/**, **/tests/**, **/__tests__/**, **/*.test.tsx, **/*.spec.tsx, **/coverage/**, **/node_modules/**, **/dist/**, **/build/**, **/*.d.ts, **/vite.config.ts, **/vitest.config.ts, **/*.config.js, **/*.config.ts, **/tsconfig*.json, **/package.json, **/pnpm-lock.yaml, tools/**, scripts/**, .github/**, docs/**, **/*.stories.ts, **/*.stories.tsx, **/.storybook/**
  application: any of: packages/application/src/, but not: **/*.test.ts, **/*.spec.ts, **/test/**, **/tests/**, **/__tests__/**, **/*.test.tsx, **/*.spec.tsx, **/coverage/**, **/node_modules/**, **/dist/**, **/build/**, **/*.d.ts, **/vite.config.ts, **/vitest.config.ts, **/*.config.js, **/*.config.ts, **/tsconfig*.json, **/package.json, **/pnpm-lock.yaml, tools/**, scripts/**, .github/**, docs/**, **/*.stories.ts, **/*.stories.tsx, **/.storybook/**
  infrastructure: any of: packages/infrastructure/src/, but not: **/*.test.ts, **/*.spec.ts, **/test/**, **/tests/**, **/__tests__/**, **/*.test.tsx, **/*.spec.tsx, **/coverage/**, **/node_modules/**, **/dist/**, **/build/**, **/*.d.ts, **/vite.config.ts, **/vitest.config.ts, **/*.config.js, **/*.config.ts, **/tsconfig*.json, **/package.json, **/pnpm-lock.yaml, tools/**, scripts/**, .github/**, docs/**, **/*.stories.ts, **/*.stories.tsx, **/.storybook/**
  shared: any of: packages/shared/src/, but not: **/*.test.ts, **/*.spec.ts, **/test/**, **/tests/**, **/__tests__/**, **/*.test.tsx, **/*.spec.tsx, **/coverage/**, **/node_modules/**, **/dist/**, **/build/**, **/*.d.ts, **/vite.config.ts, **/vitest.config.ts, **/*.config.js, **/*.config.ts, **/tsconfig*.json, **/package.json, **/pnpm-lock.yaml, tools/**, scripts/**, .github/**, docs/**, **/*.stories.ts, **/*.stories.tsx, **/.storybook/**
  web: any of: apps/web/src/, but not: **/*.test.ts, **/*.spec.ts, **/test/**, **/tests/**, **/__tests__/**, **/*.test.tsx, **/*.spec.tsx, **/coverage/**, **/node_modules/**, **/dist/**, **/build/**, **/*.d.ts, **/vite.config.ts, **/vitest.config.ts, **/*.config.js, **/*.config.ts, **/tsconfig*.json, **/package.json, **/pnpm-lock.yaml, tools/**, scripts/**, .github/**, docs/**, **/*.stories.ts, **/*.stories.tsx, **/.storybook/**
