Repository xeonchen/twsoftball: changes, and which Codecov flags are due for each by the changed paths.
All: merged, domain, application, infrastructure, shared, web

test(e2e): add complete game recording workflow tests with security improvements
  apps/web/e2e/integration/complete-game-workflow.spec.ts
  apps/web/e2e/page-objects/GameRecordingPage.ts
  apps/web/src/app/providers/appServices.tsx
  apps/web/src/vite-env.d.ts
Due: web

chore(deps): update dependencies
  apps/web/package.json
  package.json
  pnpm-lock.yaml
Due: none

docs(game-flow): add comprehensive game flow and automatic batter selection documentation
  docs/design/domain-model.md
  docs/design/game-flow.md
  docs/design/use-cases.md
  packages/application/src/use-cases/StartNewGame.ts
  packages/domain/src/aggregates/InningState.ts
  packages/domain/src/rules/SoftballRules.ts
Due: domain, application

fix(game-recording): fix E2E test failures and game completion logic
  .claude/agents/commit-readiness-reviewer.md
  apps/web/e2e/page-objects/GameRecordingPage.ts
  apps/web/src/entities/game/model/gameStore.ts
  apps/web/src/features/app-initialization/api/gameAdapter.test.ts
  apps/web/src/features/app-initialization/api/gameAdapter.ts
  apps/web/src/pages/game-recording/ui/GameRecordingPage.test.tsx
  apps/web/src/pages/game-recording/ui/GameRecordingPage.tsx
  packages/application/src/use-cases/RecordAtBat.test.ts
  packages/application/src/use-cases/RecordAtBat.ts
  packages/domain/src/aggregates/Game.ts
  packages/infrastructure/src/persistence/EventSourcedTeamLineupRepository.ts
  packages/infrastructure/src/persistence/utils/EventDeserializer.ts
Due: merged, domain, application, infrastructure, web

test(e2e): fix Web layer for complete 7-inning game workflow
  apps/web/e2e/page-objects/GameRecordingPage.ts
  apps/web/src/pages/game-recording/ui/GameRecordingPage.test.tsx
  apps/web/src/pages/game-recording/ui/GameRecordingPage.tsx
  apps/web/src/widgets/game-header/ui/GameHeader.tsx
  docs/design/technical/fsd-architecture.md
Due: web

test(perf): establish performance baselines for DI Container and Application services
  docs/performance-baseline.md
  packages/infrastructure/package.json
  packages/infrastructure/src/config/PerformanceBaseline.perf.test.ts
Due: none

test(integration): add Application layer cross-feature integration tests
  packages/application/src/integration/ApplicationIntegration.test.ts
Due: none

docs: complete Phase 5.3.F documentation and mark as COMPLETED
  docs/architecture-patterns.md
  docs/testing/e2e-testing-guide.md
Due: none

test(domain): enhance aggregate test coverage to meet CI thresholds
  packages/domain/src/aggregates/Game.core.test.ts
  packages/domain/src/aggregates/Game.event-sourcing.test.ts
  packages/domain/src/aggregates/Game.snapshot.test.ts
  packages/domain/src/aggregates/InningState.core.test.ts
  packages/domain/src/aggregates/InningState.event-sourcing.test.ts
  packages/domain/src/aggregates/TeamLineup.core.test.ts
  packages/domain/src/aggregates/TeamLineup.event-sourcing.test.ts
  packages/domain/src/aggregates/TeamLineup.substitutions.test.ts
Due: none

refactor(domain): make Game aggregate rules-aware, eliminate hard-coded completion logic
  packages/domain/src/aggregates/Game.core.test.ts
  packages/domain/src/aggregates/Game.event-sourcing.test.ts
  packages/domain/src/aggregates/Game.snapshot.test.ts
  packages/domain/src/aggregates/Game.ts
  packages/domain/src/aggregates/Game.validation.test.ts
  packages/domain/src/events/GameCreated.ts
  packages/domain/src/integration/event-sourcing.test.ts
  packages/domain/src/services/GameCoordinator.complex-scenarios.test.ts
  packages/domain/src/services/GameCoordinator.ts
  packages/infrastructure/src/persistence/utils/EventDeserializer.ts
Due: domain, infrastructure

feat(application): add rulesConfig support for configurable game rules
  packages/application/src/dtos/StartNewGameCommand.test.ts
  packages/application/src/dtos/StartNewGameCommand.ts
  packages/application/src/use-cases/StartNewGame.core.test.ts
  packages/application/src/use-cases/StartNewGame.ts
Due: application

"Update Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: none

"Update Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: none

test(domain): add coverage tests and fix extra-innings boundary bug
  packages/application/src/ports/out/EventStore.test.ts
  packages/application/src/test-utils/event-store/MockEventCreators.ts
  packages/domain/src/aggregates/InningState.edge-cases.test.ts
  packages/domain/src/events/GameCreated.test.ts
  packages/domain/src/integration/event-sourcing.test.ts
  packages/domain/src/rules/SoftballRules.test.ts
  packages/domain/src/rules/SoftballRules.ts
  packages/domain/src/services/GameCoordinator.complex-scenarios.test.ts
  packages/domain/src/services/GameCoordinator.core.test.ts
Due: domain, application

refactor(application,infrastructure): extract duplicated DTO mapping and event sourcing utilities
  packages/application/src/use-cases/EndInning.ts
  packages/application/src/use-cases/RecordAtBat.ts
  packages/application/src/use-cases/RedoLastAction.ts
  packages/application/src/use-cases/StartNewGame.ts
  packages/application/src/use-cases/UndoLastAction.ts
  packages/application/src/utils/DTOMappingHelpers.test.ts
  packages/application/src/utils/DTOMappingHelpers.ts
  packages/application/src/utils/GameStateDTOBuilder.test.ts
  packages/application/src/utils/GameStateDTOBuilder.ts
  packages/application/src/utils/index.ts
  packages/infrastructure/src/persistence/EventSourcedGameRepository.ts
  packages/infrastructure/src/persistence/EventSourcedInningStateRepository.ts
  packages/infrastructure/src/persistence/EventSourcedTeamLineupRepository.ts
  packages/infrastructure/src/persistence/utils/EventSourcingHelpers.ts
Due: application, infrastructure

test(application): improve coverage with validation and error handling tests
  packages/application/src/dtos/StartNewGameCommand.test.ts
  packages/application/src/use-cases/RecordAtBat.test.ts
  packages/application/src/utils/DTOMappingHelpers.test.ts
  packages/application/vitest.config.ts
Due: none

fix(ci): resolve PR #51 failures and pre-commit blocker
  package.json
  packages/application/src/services/EventSourcingService.memory.test.ts
  packages/infrastructure/src/integration/repository.test.ts
  pnpm-lock.yaml
Due: none

fix(ci): resolve PR #51 failures and pre-commit blocker
  CLAUDE.md
  apps/web/e2e/game-setup/complete-game-flow.spec.ts
  apps/web/e2e/integration/combined-edge-cases.spec.ts
  apps/web/e2e/integration/complete-seven-inning-game.spec.ts
  apps/web/e2e/integration/extra-innings-scenarios.spec.ts
  apps/web/e2e/integration/mercy-rule-scenarios.spec.ts
  apps/web/e2e/integration/walk-off-victory-scenarios.spec.ts
  apps/web/e2e/page-objects/GameRecordingPage.ts
  apps/web/e2e/page-objects/GameSetupLineupPage.ts
  apps/web/src/features/game-core/model/hooks/useRecordAtBat.test.ts
  apps/web/src/pages/game-setup/ui/GameSetupLineupPage.test.tsx
  apps/web/src/pages/game-setup/ui/GameSetupLineupPage.tsx
  apps/web/src/pages/game-setup/ui/GameSetupLineupPage.validation.test.tsx
  packages/application/src/integration/game-completion-scenarios.integration.test.ts
  packages/application/src/services/DIContainer.ts
  packages/application/src/use-cases/RecordAtBat.test.ts
  packages/application/src/use-cases/RecordAtBat.ts
  packages/domain/src/aggregates/InningState.ts
  packages/domain/src/services/GameCoordinator.complex-scenarios.test.ts
  packages/domain/src/services/GameCoordinator.ts
  packages/infrastructure/src/persistence/EventSourcedGameRepository.ts
  packages/infrastructure/src/persistence/EventSourcedInningStateRepository.ts
  packages/infrastructure/src/persistence/utils/EventDeserializer.test.ts
  packages/infrastructure/src/persistence/utils/EventDeserializer.ts
Due: domain, application, infrastructure, web

fix(application): fix RecordAtBat coverage and remove incorrect StartNewGame validation
  packages/application/src/use-cases/RecordAtBat.test.ts
  packages/application/src/use-cases/RecordAtBat.ts
  packages/application/src/use-cases/StartNewGame.ts
  packages/application/src/use-cases/StartNewGame.validation.test.ts
Due: application

fix(e2e): resolve Firefox walk-off test race condition
  apps/web/e2e/integration/combined-edge-cases.spec.ts
  apps/web/e2e/page-objects/GameRecordingPage.ts
  apps/web/package.json
Due: none

feat(pwa): complete PWA assets and service worker configuration
  apps/web/e2e/pwa/pwa-basics.spec.ts
  apps/web/index.html
  apps/web/public/apple-touch-icon.png
  apps/web/public/icon-192.png
  apps/web/public/icon-512.png
  apps/web/public/offline.html
  apps/web/vite.config.ts
Due: none

feat(infrastructure): add offline queue management with IndexedDB
  apps/web/src/shared/lib/hooks/index.ts
  apps/web/src/shared/lib/hooks/useSyncStatus.test.ts
  apps/web/src/shared/lib/hooks/useSyncStatus.ts
  packages/application/src/index.ts
  packages/application/src/ports/out/OfflineQueuePort.ts
  packages/application/src/ports/out/index.ts
  packages/application/src/services/InfrastructureFactory.ts
  packages/infrastructure/src/index.test.ts
  packages/infrastructure/src/memory/InMemoryOfflineQueue.test.ts
  packages/infrastructure/src/memory/InMemoryOfflineQueue.ts
  packages/infrastructure/src/memory/factory.ts
  packages/infrastructure/src/memory/index.ts
  packages/infrastructure/src/persistence/IndexedDBOfflineQueue.test.ts
  packages/infrastructure/src/persistence/IndexedDBOfflineQueue.ts
  packages/infrastructure/src/persistence/index.ts
  packages/infrastructure/src/test-utils/indexeddb/MockDatabaseBuilder.ts
  packages/infrastructure/src/test-utils/indexeddb/MockIndexedDB.ts
  packages/infrastructure/src/web/factory.ts
Due: application, infrastructure, web

feat(web): integrate navigation guards with game recording
  apps/web/e2e/navigation/navigation-guards.spec.ts
  apps/web/src/pages/game-recording/ui/GameRecordingPage.test.tsx
  apps/web/src/pages/game-recording/ui/GameRecordingPage.tsx
  apps/web/src/shared/ui/NavigationConfirmDialog/NavigationConfirmDialog.test.tsx
  apps/web/src/shared/ui/NavigationConfirmDialog/NavigationConfirmDialog.tsx
  apps/web/src/shared/ui/NavigationConfirmDialog/index.ts
  apps/web/src/shared/ui/index.ts
Due: web

perf(web): add bundle analysis and web vitals tracking
  apps/web/package.json
  apps/web/performance-budget.json
  apps/web/src/main.tsx
  apps/web/src/shared/lib/performance/index.ts
  apps/web/src/shared/lib/performance/webVitals.test.ts
  apps/web/src/shared/lib/performance/webVitals.ts
  pnpm-lock.yaml
Due: web

feat(web): integrate error boundaries with route level
  apps/web/src/app/providers/router.test.tsx
  apps/web/src/app/providers/router.tsx
  apps/web/src/shared/ui/PageErrorFallback/PageErrorFallback.test.tsx
  apps/web/src/shared/ui/PageErrorFallback/PageErrorFallback.tsx
  apps/web/src/shared/ui/PageErrorFallback/index.ts
  apps/web/src/shared/ui/index.ts
Due: web

feat(pwa): verify mobile responsiveness and installability
  apps/web/e2e/pwa/installability.spec.ts
  apps/web/e2e/pwa/pwa-basics.spec.ts
Due: none

Path conditions:
  merged: any of: ., but not: **/*.test.ts, **/*.spec.ts, **/test/**, **/tests/**, **/__tests__/**, **/*.test.tsx, **/*.spec.tsx, **/coverage/**, **/node_modules/**, **/dist/**, **/build/**, **/*.d.ts, **/vite.config.ts, **/vitest.config.ts, **/*.config.js, **/*.config.ts, **/tsconfig*.json, **/package.json, **/pnpm-lock.yaml, tools/**, scripts/**, .github/**, docs/**, **/*.stories.ts, **/*.stories.tsx, **/.storybook/**
  domain: any of: packages/domain/src/, but not: **/*.test.ts, **/*.spec.ts, **/test/**, **/tests/**, **/__tests__/**, **/*.test.tsx, **/*.spec.tsx, **/coverage/**, **/node_modules/**, **/dist/**, **/build/**, **/*.d.ts, **/vite.config.ts, **/vitest.config.ts, **/*.config.js, **/*.config.ts, **/tsconfig*.json, **/package.json, **/pnpm-lock.yaml, tools/**, scripts/**, .github/**, docs/**, **/*.stories.ts, **/*.stories.tsx, **/.storybook/**
  application: any of: packages/application/src/, but not: **/*.test.ts, **/*.spec.ts, **/test/**, **/tests/**, **/__tests__/**, **/*.test.tsx, **/*.spec.tsx, **/coverage/**, **/node_modules/**, **/dist/**, **/build/**, **/*.d.ts, **/vite.config.ts, **/vitest.config.ts, **/*.config.js, **/*.config.ts, **/tsconfig*.json, **/package.json, **/pnpm-lock.yaml, tools/**, scripts/**, .github/**, docs/**, **/*.stories.ts, **/*.stories.tsx, **/.storybook/**
  infrastructure: any of: packages/infrastructure/src/, but not: **/*.test.ts, **/*.spec.ts, **/test/**, **/tests/**, **/__tests__/**, **/*.test.tsx, **/*.spec.tsx, **/coverage/**, **/node_modules/**, **/dist/**, **/build/**, **/*.d.ts, **/vite.config.ts, **/vitest.config.ts, **/*.config.js, **/*.config.ts, **/tsconfig*.json, **/package.json, **/pnpm-lock.yaml, tools/**, scripts/**, .github/**, docs/**, **/*.stories.ts, **/*.stories.tsx, **/.storybook/**
  shared: any of: packages/shared/src/, but not: **/*.test.ts, **/*.spec.ts, **/test/**, **/tests/**, **/__tests__/**, **/*.test.tsx, **/*.spec.tsx, **/coverage/**, **/node_modules/**, **/dist/**, **/build/**, **/*.d.ts, **/vite.config.ts, **/vitest.config.ts, **/*.config.js, **/*.config.ts, **/tsconfig*.json, **/package.json, **/pnpm-lock.yaml, tools/**, scripts/**, .github/**, docs/**, **/*.stories.ts, **/*.stories.tsx, **/.storybook/**
  web: any of: apps/web/src/, but not: **/*.test.ts, **/*.spec.ts, **/test/**, **/tests/**, **/__tests__/**, **/*.test.tsx, **/*.spec.tsx, **/coverage/**, **/node_modules/**, **/dist/**, **/build/**, **/*.d.ts, **/vite.config.ts, **/vitest.config.ts, **/*.config.js, **/*.config.ts, **/tsconfig*.json, **/package.json, **/pnpm-lock.yaml, tools/**, scripts/**, .github/**, docs/**, **/*.stories.ts, **/*.stories.tsx, **/.storybook/**
