Repository xeonchen/twsoftball: changes, and which Codecov flags are due for each by the changed paths.
All: merged, domain, application, infrastructure, shared, web

Path conditions:
  merged: any of: ., but not: **/*.test.ts, **/*.spec.ts, **/test/**, **/tests/**, **/__tests__/**, **/*.test.tsx, **/*.spec.tsx, **/coverage/**, **/node_modules/**, **/dist/**, **/build/**, **/*.d.ts, **/vite.config.ts, **/vitest.config.ts, **/*.config.js, **/*.config.ts, **/tsconfig*.json, **/package.json, **/pnpm-lock.yaml, tools/**, scripts/**, .github/**, docs/**, **/*.stories.ts, **/*.stories.tsx, **/.storybook/**
  domain: any of: packages/domain/src/, but not: **/*.test.ts, **/*.spec.ts, **/test/**, **/tests/**, **/__tests__/**, **/*.test.tsx, **/*.spec.tsx, **/coverage/**, **/node_modules/**, **/dist/**, **/build/**, **/*.d.ts, **/vite.config.ts, **/vitest.config.ts, **/*.config.js, **/*.config.ts, **/tsconfig*.json, **/package.json, **/pnpm-lock.yaml, tools/**, scripts/**, .github/**, docs/**, **/*.stories.ts, **/*.stories.tsx, **/.storybook/**
  application: any of: packages/application/src/, but not: **/*.test.ts, **/*.spec.ts, **/test/**, **/tests/**, **/__tests__/**, **/*.test.tsx, **/*.spec.tsx, **/coverage/**, **/node_modules/**, **/dist/**, **/build/**, **/*.d.ts, **/vite.config.ts, **/vitest.config.ts, **/*.config.js, **/*.config.ts, **/tsconfig*.json, **/package.json, **/pnpm-lock.yaml, tools/**, scripts/**, .github/**, docs/**, **/*.stories.ts, **/*.stories.tsx, **/.storybook/**
  infrastructure: any of: packages/infrastructure/src/, but not: **/*.test.ts, **/*.spec.ts, **/test/**, **/tests/**, **/__tests__/**, **/*.test.tsx, **/*.spec.tsx, **/coverage/**, **/node_modules/**, **/dist/**, **/build/**, **/*.d.ts, **/vite.config.ts, **/vitest.config.ts, **/*.config.js, **/*.config.ts, **/tsconfig*.json, **/package.json, **/pnpm-lock.yaml, tools/**, scripts/**, .github/**, docs/**, **/*.stories.ts, **/*.stories.tsx, **/.storybook/**
  shared: any of: packages/shared/src/, but not: **/*.test.ts, **/*.spec.ts, **/test/**, **/tests/**, **/__tests__/**, **/*.test.tsx, **/*.spec.tsx, **/coverage/**, **/node_modules/**, **/dist/**, **/build/**, **/*.d.ts, **/vite.config.ts, **/vitest.config.ts, **/*.config.js, **/*.config.ts, **/tsconfig*.json, **/package.json, **/pnpm-lock.yaml, tools/**, scripts/**, .github/**, docs/**, **/*.stories.ts, **/*.stories.tsx, **/.storybook/**
  web: any of: apps/web/src/, but not: **/*.test.ts, **/*.spec.ts, **/test/**, **/tests/**, **/__tests__/**, **/*.test.tsx, **/*.spec.tsx, **/coverage/**, **/node_modules/**, **/dist/**, **/build/**, **/*.d.ts, **/vite.config.ts, **/vitest.config.ts, **/*.config.js, **/*.config.ts, **/tsconfig*.json, **/package.json, **/pnpm-lock.yaml, tools/**, scripts/**, .github/**, docs/**, **/*.stories.ts, **/*.stories.tsx, **/.storybook/**

test(e2e): verify IndexedDB offline persistence
  apps/web/e2e/offline/offline-persistence.spec.ts
Due: none

fix(web): use BasesDiamond widget for correct base positioning
  apps/web/src/pages/game-recording/ui/GameRecordingPage.test.tsx
  apps/web/src/pages/game-recording/ui/GameRecordingPage.tsx
Due: web

fix(widget): correct BasesDiamond absolute positioning
  apps/web/src/widgets/bases-diamond/ui/BasesDiamond.tsx
Due: web

fix(infrastructure): add null/undefined checks to reconstructGameId
  packages/application/src/use-cases/UndoLastAction.integration.test.ts
  packages/infrastructure/src/persistence/utils/EventDeserializer.test.ts
  packages/infrastructure/src/persistence/utils/EventDeserializer.ts
Due: infrastructure

docs: add Team aggregate design for Phase 6 roster management
  docs/adr/ADR-009-team-aggregate-design.md
  docs/design/domain-model.md
  docs/design/ui-ux/wireframes.md
  docs/design/use-cases.md
Due: none
