Repository xeonchen/twsoftball: changes, and which Codecov flags are due for each by the changed paths.
All: merged, domain, application, infrastructure, shared, web

feat(domain): add InningState event sourcing for fromEvents() and applyEvent()
  packages/domain/src/aggregates/InningState.test.ts
  packages/domain/src/aggregates/InningState.ts
Due: domain

test(domain): add event sourcing integration tests
  docs/design/event-sourcing.md
  packages/domain/src/integration/event-sourcing.test.ts
Due: none

test(application): add EventStore interface contract tests
  packages/application/src/ports/out/EventStore.test.ts
Due: none

test(infrastructure): add InMemoryEventStore core functionality tests
  packages/infrastructure/src/persistence/InMemoryEventStore.test.ts
Due: none

feat(infrastructure): implement InMemoryEventStore core functionality
  packages/infrastructure/src/persistence/InMemoryEventStore.ts
Due: infrastructure

chore(application): export InMemoryEventStore in infrastructure index
  packages/application/src/index.ts
Due: application

test(infrastructure): add InMemoryEventStore advanced query tests
  packages/infrastructure/src/persistence/InMemoryEventStore.test.ts
Due: none

feat(infrastructure): implement InMemoryEventStore advanced query functionality
  packages/infrastructure/src/persistence/InMemoryEventStore.ts
Due: infrastructure

test(infrastructure): add InMemoryEventStore comprehensive error handling tests
  packages/infrastructure/src/persistence/InMemoryEventStore.test.ts
Due: none

feat(infrastructure): implement InMemoryEventStore robust error handling
  packages/infrastructure/src/persistence/InMemoryEventStore.ts
Due: infrastructure

fix: resolve timestamp-dependent test failures in CI
  packages/application/src/dtos/AtBatResult.test.ts
  packages/domain/src/events/FieldPositionChanged.test.ts
  packages/domain/src/events/PlayerSubstitutedIntoGame.test.ts
  packages/domain/src/events/RunnerAdvanced.test.ts
  packages/domain/src/utils/NumericValidation.test.ts
  packages/domain/src/utils/StringValidation.test.ts
  packages/infrastructure/src/persistence/InMemoryEventStore.test.ts
Due: none

feat(infrastructure): implement IndexedDBEventStore for browser-based event persistence
  packages/infrastructure/src/index.ts
  packages/infrastructure/src/persistence/InMemoryEventStore.test.ts
  packages/infrastructure/src/persistence/InMemoryEventStore.ts
  packages/infrastructure/src/persistence/IndexedDBEventStore.test.ts
  packages/infrastructure/src/persistence/IndexedDBEventStore.ts
  packages/infrastructure/src/persistence/index.ts
Due: infrastructure

fix(infrastructure): improve test coverage and resolve CI failures
  packages/infrastructure/src/index.test.ts
  packages/infrastructure/src/persistence/IndexedDBEventStore.test.ts
Due: none

feat(tests): enhance coverage from 93.62% to 94.91% with comprehensive test suite
  packages/application/src/dtos/CompleteAtBatSequenceResult.test.ts
  packages/application/src/dtos/CompleteGameWorkflowResult.test.ts
  packages/domain/src/aggregates/Game.test.ts
  packages/infrastructure/src/persistence/InMemoryEventStore.test.ts
  packages/infrastructure/src/persistence/IndexedDBEventStore.test.ts
Due: none

fix(architecture): resolve critical build issues and enhance Event Store test infrastructure
  eslint.config.js
  packages/application/src/dtos/CompleteGameWorkflowResult.test.ts
  packages/application/src/ports/out/EventStore.test.ts
  packages/application/src/test-utils/event-store/EventStoreContractTests.ts
  packages/application/src/test-utils/event-store/EventStoreTestInterfaces.ts
  packages/application/src/test-utils/event-store/MockEventCreators.ts
  packages/application/src/test-utils/event-store/index.ts
  packages/domain/src/events/DomainEvent.ts
  packages/domain/src/events/RunnerAdvanced.test.ts
  packages/domain/src/test-utils/RunnerAdvancedTestHelpers.ts
  packages/infrastructure/src/persistence/InMemoryEventStore.test.ts
  packages/infrastructure/src/persistence/InMemoryEventStore.ts
  packages/infrastructure/src/persistence/IndexedDBEventStore.test.ts
  packages/infrastructure/src/persistence/IndexedDBEventStore.ts
  packages/infrastructure/src/persistence/utils/EventStoreErrorHandler.ts
  packages/infrastructure/src/persistence/utils/IndexedDBTransactionManager.ts
  packages/infrastructure/src/persistence/utils/index.ts
  packages/infrastructure/src/test-utils/event-store/index.ts
  packages/infrastructure/src/test-utils/indexeddb/MockDatabaseBuilder.ts
  packages/infrastructure/src/test-utils/indexeddb/MockIndexedDB.ts
  packages/infrastructure/src/test-utils/indexeddb/index.ts
Due: domain, application, infrastructure

feat(tests): add comprehensive test coverage for Event Store infrastructure
  packages/application/src/test-utils/event-store/EventStoreContractTests.test.ts
  packages/application/src/test-utils/event-store/EventStoreContractTests.ts
  packages/application/src/test-utils/event-store/EventStoreTestInterfaces.test.ts
  packages/application/src/test-utils/event-store/EventStoreTestInterfaces.ts
  packages/application/src/test-utils/event-store/MockEventCreators.test.ts
  packages/application/src/test-utils/event-store/MockEventCreators.ts
  packages/application/src/test-utils/event-store/index.test.ts
  packages/domain/src/aggregates/TeamLineup.ts
  packages/domain/src/test-utils/RunnerAdvancedTestHelpers.test.ts
  packages/domain/src/test-utils/RunnerAdvancedTestHelpers.ts
  packages/infrastructure/src/persistence/utils/EventStoreErrorHandler.test.ts
  packages/infrastructure/src/persistence/utils/EventStoreErrorHandler.ts
  packages/infrastructure/src/persistence/utils/IndexedDBTransactionManager.test.ts
  packages/infrastructure/src/persistence/utils/IndexedDBTransactionManager.ts
  packages/infrastructure/src/test-utils/indexeddb/MockDatabaseBuilder.test.ts
  packages/infrastructure/src/test-utils/indexeddb/MockDatabaseBuilder.ts
  packages/infrastructure/src/test-utils/indexeddb/MockIndexedDB.test.ts
  packages/infrastructure/src/test-utils/indexeddb/MockIndexedDB.ts
Due: domain, application, infrastructure

feat(infrastructure): enhance Event Store test coverage with comprehensive test suite
  CLAUDE.md
  README.md
  packages/infrastructure/src/persistence/InMemoryEventStore.array-validation.test.ts
  packages/infrastructure/src/persistence/IndexedDBEventStore.connection-and-edge-cases.test.ts
  packages/infrastructure/src/persistence/IndexedDBEventStore.error-handling-and-validation.test.ts
  packages/infrastructure/src/persistence/IndexedDBEventStore.lifecycle.test.ts
  packages/infrastructure/src/persistence/IndexedDBEventStore.serialization.test.ts
  packages/infrastructure/src/persistence/IndexedDBEventStore.simple-transaction-errors.test.ts
  packages/infrastructure/src/persistence/IndexedDBEventStore.test.ts
  packages/infrastructure/src/persistence/utils/IndexedDBTransactionManager.test.ts
  packages/infrastructure/src/persistence/utils/IndexedDBTransactionManager.ts
  packages/infrastructure/src/persistence/utils/index.test.ts
  packages/infrastructure/src/test-utils/indexeddb/MockDatabaseBuilder.test.ts
  packages/infrastructure/src/test-utils/indexeddb/MockDatabaseBuilder.ts
  packages/infrastructure/src/test-utils/indexeddb/MockIndexedDB.test.ts
  packages/infrastructure/src/test-utils/indexeddb/MockIndexedDB.ts
Due: infrastructure

fix(architecture): resolve dependency-cruiser violations by reorganizing EventStore test utilities
  .dependency-cruiser.cjs
  docs/adr/ADR-004-monorepo-structure.md
  docs/design/architecture.md
  packages/application/src/ports/out/EventStore.test.ts
  packages/application/src/test-utils/event-store/EventStoreContractTests.test.ts
  packages/application/src/test-utils/event-store/EventStoreContractTests.ts
  packages/application/src/test-utils/event-store/EventStoreTestInterfaces.test.ts
  packages/application/src/test-utils/event-store/MockEventCreators.test.ts
  packages/application/src/test-utils/event-store/index.test.ts
  packages/application/src/test-utils/event-store/index.ts
  packages/infrastructure/src/persistence/InMemoryEventStore.array-validation.test.ts
  packages/infrastructure/src/persistence/InMemoryEventStore.test.ts
  packages/infrastructure/src/persistence/InMemoryEventStore.ts
  packages/infrastructure/src/persistence/IndexedDBEventStore.connection-and-edge-cases.test.ts
  packages/infrastructure/src/persistence/IndexedDBEventStore.error-handling-and-validation.test.ts
  packages/infrastructure/src/persistence/IndexedDBEventStore.serialization.test.ts
  packages/infrastructure/src/persistence/IndexedDBEventStore.simple-transaction-errors.test.ts
  packages/infrastructure/src/persistence/IndexedDBEventStore.test.ts
  packages/infrastructure/src/persistence/IndexedDBEventStore.ts
  packages/infrastructure/src/test-utils/event-store/index.ts
  packages/shared/package.json
  packages/shared/src/index.ts
  packages/shared/src/test-utils/event-store/EventStoreTestInterfaces.ts
  packages/shared/src/test-utils/event-store/MockEventCreators.ts
  packages/shared/src/test-utils/event-store/index.ts
  pnpm-lock.yaml
Due: merged, application, infrastructure, shared

feat(security): add SecureRandom utilities to eliminate Math.random() security hotspots
  .dependency-cruiser.cjs
  packages/application/package.json
  packages/application/src/test-utils/secure-test-utils.ts
  packages/infrastructure/src/persistence/utils/EventStoreErrorHandler.ts
  packages/infrastructure/src/test-utils/indexeddb/MockIndexedDB.ts
  packages/shared/src/index.ts
  packages/shared/src/utils/SecureRandom.test.ts
  packages/shared/src/utils/SecureRandom.ts
  pnpm-lock.yaml
Due: merged, application, infrastructure, shared

refactor: split large test files into focused, maintainable test modules
  README.md
  docs/guides/testing-strategy.md
  packages/application/src/services/EventSourcingService.integrity.test.ts
  packages/application/src/services/EventSourcingService.performance.test.ts
  packages/application/src/services/EventSourcingService.queries.test.ts
  packages/application/src/services/EventSourcingService.reconstruction.test.ts
  packages/application/src/services/EventSourcingService.snapshots.test.ts
  packages/application/src/services/EventSourcingService.stream-management.test.ts
  packages/application/src/services/GameApplicationService.error-recovery.test.ts
  packages/application/src/services/GameApplicationService.lifecycle.test.ts
  packages/application/src/services/GameApplicationService.transactions.test.ts
  packages/application/src/services/GameApplicationService.validation.test.ts
  packages/application/src/services/GameApplicationService.workflows.test.ts
  packages/application/src/use-cases/StartNewGame.core.test.ts
  packages/application/src/use-cases/StartNewGame.error-handling.test.ts
  packages/application/src/use-cases/StartNewGame.test.ts
  packages/application/src/use-cases/StartNewGame.validation.test.ts
  packages/domain/src/aggregates/Game.core.test.ts
  packages/domain/src/aggregates/Game.event-sourcing.test.ts
  packages/domain/src/aggregates/Game.validation.test.ts
  packages/domain/src/aggregates/InningState.core.test.ts
  packages/domain/src/aggregates/InningState.event-sourcing.test.ts
  packages/domain/src/aggregates/InningState.runner-management.test.ts
  packages/domain/src/aggregates/TeamLineup.core.test.ts
  packages/domain/src/aggregates/TeamLineup.event-sourcing.test.ts
  packages/domain/src/aggregates/TeamLineup.substitutions.test.ts
  packages/domain/src/aggregates/TeamLineup.validation.test.ts
  packages/domain/src/services/GameCoordinator.complex-scenarios.test.ts
  packages/domain/src/services/GameCoordinator.core.test.ts
  packages/domain/src/services/GameCoordinator.error-handling.test.ts
  packages/infrastructure/src/test-utils/indexeddb/MockIndexedDB.core.test.ts
  packages/infrastructure/src/test-utils/indexeddb/MockIndexedDB.edge-cases.test.ts
  packages/infrastructure/src/test-utils/indexeddb/MockIndexedDB.test.ts
  packages/infrastructure/src/test-utils/indexeddb/MockIndexedDB.transactions.test.ts
Due: none

test: suppress InMemoryEventStore warnings in performance tests
  packages/application/src/services/EventSourcingService.integrity.test.ts
  packages/infrastructure/src/persistence/InMemoryEventStore.test.ts
Due: none

fix(sonarcloud): resolve useless object instantiation issues
  packages/domain/src/test-utils/RunnerAdvancedTestHelpers.test.ts
  packages/domain/src/test-utils/ValueObjectTestHelper.ts
  packages/infrastructure/src/persistence/IndexedDBEventStore.lifecycle.test.ts
  packages/infrastructure/src/test-utils/indexeddb/MockIndexedDB.edge-cases.test.ts
Due: domain

feat(infrastructure): implement EventSourcedGameRepository core operations
  packages/infrastructure/src/persistence/EventSourcedGameRepository.test.ts
  packages/infrastructure/src/persistence/EventSourcedGameRepository.ts
  packages/shared/src/test-utils/event-store/MockEventCreators.ts
Due: infrastructure, shared

feat(infrastructure): implement EventSourcedTeamLineupRepository
  packages/application/src/ports/out/InningStateRepository.ts
  packages/application/src/ports/out/TeamLineupRepository.ts
  packages/application/src/ports/out/index.ts
  packages/infrastructure/src/persistence/EventSourcedGameRepository.ts
  packages/infrastructure/src/persistence/EventSourcedInningStateRepository.test.ts
  packages/infrastructure/src/persistence/EventSourcedInningStateRepository.ts
  packages/infrastructure/src/persistence/EventSourcedTeamLineupRepository.test.ts
  packages/infrastructure/src/persistence/EventSourcedTeamLineupRepository.ts
  packages/infrastructure/src/persistence/InMemoryEventStore.ts
Due: application, infrastructure

test(infrastructure): add repository integration test infrastructure
  .claude/agents/commit-readiness-reviewer.md
  packages/infrastructure/src/integration/repository.test.ts
Due: merged

test(infrastructure): implement cross-repository coordination tests
  packages/infrastructure/src/integration/repository.test.ts
Due: none

test(infrastructure): add comprehensive error handling and edge case tests
  README.md
  packages/infrastructure/src/integration/repository.test.ts
Due: none

fix(architecture): resolve shared package domain dependency violation
  .dependency-cruiser.cjs
  .gitignore
  packages/application/package.json
  packages/application/src/index.ts
  packages/application/src/ports/out/EventStore.test.ts
  packages/application/src/ports/out/EventStore.ts
  packages/application/src/test-utils/event-store/EventStoreContractTests.test.ts
  packages/application/src/test-utils/event-store/EventStoreContractTests.ts
  packages/application/src/test-utils/event-store/EventStoreTestInterfaces.test.ts
  packages/application/src/test-utils/event-store/EventStoreTestInterfaces.ts
  packages/application/src/test-utils/event-store/MockEventCreators.test.ts
  packages/application/src/test-utils/event-store/MockEventCreators.ts
  packages/application/src/test-utils/event-store/index.test.ts
  packages/application/src/test-utils/event-store/index.ts
  packages/application/tsconfig.json
  packages/infrastructure/src/persistence/EventSourcedGameRepository.test.ts
  packages/infrastructure/src/persistence/EventSourcedTeamLineupRepository.test.ts
  packages/infrastructure/src/persistence/InMemoryEventStore.test.ts
  packages/infrastructure/src/persistence/InMemoryEventStore.ts
  packages/infrastructure/src/persistence/IndexedDBEventStore.connection-and-edge-cases.test.ts
  packages/infrastructure/src/persistence/IndexedDBEventStore.error-handling-and-validation.test.ts
  packages/infrastructure/src/persistence/IndexedDBEventStore.serialization.test.ts
  packages/infrastructure/src/persistence/IndexedDBEventStore.simple-transaction-errors.test.ts
  packages/infrastructure/src/persistence/IndexedDBEventStore.test.ts
  packages/infrastructure/src/persistence/IndexedDBEventStore.ts
  packages/infrastructure/tsconfig.json
  packages/shared/package.json
  packages/shared/src/index.ts
  packages/shared/src/test-utils/event-store/index.ts
  pnpm-lock.yaml
Due: merged, application, infrastructure, shared

feat(infrastructure): implement Phase 4.4.1 snapshot store foundation
  .dependency-cruiser.cjs
  packages/application/src/index.ts
  packages/application/src/ports/out/SnapshotStore.test.ts
  packages/application/src/ports/out/SnapshotStore.ts
  packages/infrastructure/src/persistence/InMemorySnapshotStore.test.ts
  packages/infrastructure/src/persistence/InMemorySnapshotStore.ts
  packages/infrastructure/src/persistence/IndexedDBSnapshotStore.test.ts
  packages/infrastructure/src/persistence/IndexedDBSnapshotStore.ts
Due: merged, application, infrastructure

feat(application,infrastructure): implement Phase 4.4.2 snapshot manager and repository integration
  packages/application/src/ports/out/index.ts
  packages/application/src/services/SnapshotManager.test.ts
  packages/application/src/services/SnapshotManager.ts
  packages/application/src/services/index.ts
  packages/infrastructure/src/persistence/EventSourcedGameRepository.test.ts
  packages/infrastructure/src/persistence/EventSourcedGameRepository.ts
  packages/infrastructure/src/persistence/EventSourcedInningStateRepository.test.ts
  packages/infrastructure/src/persistence/EventSourcedInningStateRepository.ts
  packages/infrastructure/src/persistence/EventSourcedTeamLineupRepository.test.ts
  packages/infrastructure/src/persistence/EventSourcedTeamLineupRepository.ts
Due: application, infrastructure

feat(infrastructure): salvage Phase 4.4.3a performance framework utilities
  packages/application/package.json
  packages/infrastructure/src/performance/PerformanceValidation.test.ts
  packages/infrastructure/src/performance/RealisticPerformanceValidation.test.ts
  packages/infrastructure/src/performance/SlowEventStore.ts
  packages/infrastructure/src/performance/SnapshotPerformanceBenchmark.test.ts
  packages/infrastructure/src/performance/SnapshotPerformanceBenchmark.ts
  packages/infrastructure/src/performance/eslint-disable.d.ts
  packages/infrastructure/src/persistence/utils/EventDeserializer.ts
Due: infrastructure

feat(domain): implement Game snapshot reconstruction with comprehensive validation
  packages/domain/src/aggregates/Game.snapshot.test.ts
  packages/domain/src/aggregates/Game.ts
  packages/domain/src/integration/event-sourcing.test.ts
Due: domain

feat(infrastructure): implement hybrid snapshot testing with repository integration
  packages/infrastructure/src/performance/PerformanceValidation.test.ts
  packages/infrastructure/src/performance/RealisticEventStore.ts
  packages/infrastructure/src/performance/SlowEventStore.ts
  packages/infrastructure/src/performance/SnapshotCorrectness.test.ts
  packages/infrastructure/src/performance/SnapshotPerformanceBenchmark.test.ts
  packages/infrastructure/src/performance/SnapshotPerformanceBenchmark.ts
  packages/infrastructure/src/performance/SnapshotPerformanceSimulation.test.ts
  packages/infrastructure/src/persistence/EventSourcedGameRepository.test.ts
  packages/infrastructure/src/persistence/EventSourcedGameRepository.ts
Due: infrastructure

fix(security): replace Math.random() with SecureRandom in SnapshotPerformanceBenchmark
  README.md
  packages/infrastructure/src/performance/SnapshotPerformanceBenchmark.ts
Due: infrastructure

test(infrastructure): achieve 89.71% test coverage with comprehensive improvements
  packages/infrastructure/src/persistence/EventSourcedInningStateRepository.test.ts
  packages/infrastructure/src/persistence/EventSourcedTeamLineupRepository.test.ts
  packages/infrastructure/src/persistence/InMemorySnapshotStore.test.ts
  packages/infrastructure/src/persistence/IndexedDBSnapshotStore.test.ts
  packages/infrastructure/src/persistence/utils/EventDeserializer.test.ts
Due: none

feat(docs): comprehensive Phase 5 UI/UX documentation and architecture
  docs/design/technical/browser-guards.md
  docs/design/technical/fsd-architecture.md
  docs/design/ui-ux/component-specifications.md
  docs/design/ui-ux/design-system.md
  docs/design/ui-ux/personas.md
  docs/design/ui-ux/user-journeys.md
  docs/design/ui-ux/wireframes.md
Due: none

feat(web): implement modern dependency integrations and PWA foundation
  apps/web/package.json
  apps/web/src/app/App.tsx
  apps/web/src/app/providers/index.ts
  apps/web/src/app/providers/queryClient.test.tsx
  apps/web/src/app/providers/queryClient.tsx
  apps/web/src/app/providers/router.test.tsx
  apps/web/src/app/providers/router.tsx
  apps/web/src/pages/GamePage.tsx
  apps/web/src/pages/HomePage.tsx
  apps/web/src/pages/NotFoundPage.tsx
  apps/web/src/shared/lib/forms/index.ts
  apps/web/src/shared/lib/forms/validation.test.ts
  apps/web/src/shared/lib/forms/validation.ts
  apps/web/src/shared/lib/store/gameStore.test.ts
  apps/web/src/shared/lib/store/gameStore.ts
  apps/web/src/shared/lib/store/index.ts
  apps/web/vite.config.ts
  pnpm-lock.yaml
Due: web

feat(web): implement comprehensive routing and state management system
  apps/web/src/app/providers/router.test.tsx
  apps/web/src/app/providers/router.tsx
  apps/web/src/pages/GameRecordingPage.tsx
  apps/web/src/pages/GameSetupConfirmPage.tsx
  apps/web/src/pages/GameSetupLineupPage.tsx
  apps/web/src/pages/GameSetupTeamsPage.tsx
  apps/web/src/pages/GameStatsPage.tsx
  apps/web/src/pages/HomePage.tsx
  apps/web/src/pages/SettingsPage.tsx
  apps/web/src/shared/hooks/useNavigationGuard.test.ts
  apps/web/src/shared/hooks/useNavigationGuard.ts
  apps/web/src/shared/lib/store/gameStore.test.ts
  apps/web/src/shared/lib/store/gameStore.ts
  apps/web/src/shared/lib/store/uiStore.test.ts
  apps/web/src/shared/lib/store/uiStore.ts
  apps/web/src/shared/lib/useCases/gameUseCases.test.ts
  apps/web/src/shared/lib/useCases/gameUseCases.ts
  apps/web/src/shared/ui/input/Input.tsx
Due: web

feat(web): implement Phase 3 PWA component library with essential game widgets
  apps/web/src/entities/player/ui/PlayerCard.test.tsx
  apps/web/src/entities/player/ui/PlayerCard.tsx
  apps/web/src/entities/player/ui/index.ts
  apps/web/src/widgets/at-bat-panel/AtBatActionPanel.test.tsx
  apps/web/src/widgets/at-bat-panel/AtBatActionPanel.tsx
  apps/web/src/widgets/at-bat-panel/index.ts
  apps/web/src/widgets/bases-diamond/BasesDiamond.test.tsx
  apps/web/src/widgets/bases-diamond/BasesDiamond.tsx
  apps/web/src/widgets/bases-diamond/index.ts
  apps/web/src/widgets/game-header/GameHeader.test.tsx
  apps/web/src/widgets/game-header/GameHeader.tsx
  apps/web/src/widgets/game-header/index.ts
Due: web

Path conditions:
  merged: any of: ., but not: **/*.test.ts, **/*.spec.ts, **/test/**, **/tests/**, **/__tests__/**, **/*.test.tsx, **/*.spec.tsx, **/coverage/**, **/node_modules/**, **/dist/**, **/build/**, **/*.d.ts, **/vite.config.ts, **/vitest.config.ts, **/*.config.js, **/*.config.ts, **/tsconfig*.json, **/package.json, **/pnpm-lock.yaml, tools/**, scripts/**, .github/**, docs/**, **/*.stories.ts, **/*.stories.tsx, **/.storybook/**
  domain: any of: packages/domain/src/, but not: **/*.test.ts, **/*.spec.ts, **/test/**, **/tests/**, **/__tests__/**, **/*.test.tsx, **/*.spec.tsx, **/coverage/**, **/node_modules/**, **/dist/**, **/build/**, **/*.d.ts, **/vite.config.ts, **/vitest.config.ts, **/*.config.js, **/*.config.ts, **/tsconfig*.json, **/package.json, **/pnpm-lock.yaml, tools/**, scripts/**, .github/**, docs/**, **/*.stories.ts, **/*.stories.tsx, **/.storybook/**
  application: any of: packages/application/src/, but not: **/*.test.ts, **/*.spec.ts, **/test/**, **/tests/**, **/__tests__/**, **/*.test.tsx, **/*.spec.tsx, **/coverage/**, **/node_modules/**, **/dist/**, **/build/**, **/*.d.ts, **/vite.config.ts, **/vitest.config.ts, **/*.config.js, **/*.config.ts, **/tsconfig*.json, **/package.json, **/pnpm-lock.yaml, tools/**, scripts/**, .github/**, docs/**, **/*.stories.ts, **/*.stories.tsx, **/.storybook/**
  infrastructure: any of: packages/infrastructure/src/, but not: **/*.test.ts, **/*.spec.ts, **/test/**, **/tests/**, **/__tests__/**, **/*.test.tsx, **/*.spec.tsx, **/coverage/**, **/node_modules/**, **/dist/**, **/build/**, **/*.d.ts, **/vite.config.ts, **/vitest.config.ts, **/*.config.js, **/*.config.ts, **/tsconfig*.json, **/package.json, **/pnpm-lock.yaml, tools/**, scripts/**, .github/**, docs/**, **/*.stories.ts, **/*.stories.tsx, **/.storybook/**
  shared: any of: packages/shared/src/, but not: **/*.test.ts, **/*.spec.ts, **/test/**, **/tests/**, **/__tests__/**, **/*.test.tsx, **/*.spec.tsx, **/coverage/**, **/node_modules/**, **/dist/**, **/build/**, **/*.d.ts, **/vite.config.ts, **/vitest.config.ts, **/*.config.js, **/*.config.ts, **/tsconfig*.json, **/package.json, **/pnpm-lock.yaml, tools/**, scripts/**, .github/**, docs/**, **/*.stories.ts, **/*.stories.tsx, **/.storybook/**
  web: any of: apps/web/src/, but not: **/*.test.ts, **/*.spec.ts, **/test/**, **/tests/**, **/__tests__/**, **/*.test.tsx, **/*.spec.tsx, **/coverage/**, **/node_modules/**, **/dist/**, **/build/**, **/*.d.ts, **/vite.config.ts, **/vitest.config.ts, **/*.config.js, **/*.config.ts, **/tsconfig*.json, **/package.json, **/pnpm-lock.yaml, tools/**, scripts/**, .github/**, docs/**, **/*.stories.ts, **/*.stories.tsx, **/.storybook/**
