Repository xeonchen/twsoftball: changes, and which Codecov flags are due for each by the changed paths.
All: merged, domain, application, infrastructure, shared, web

feat(web): implement comprehensive type safety for Phase 5.3.A API layer
  apps/web/package.json
  apps/web/src/shared/api/adapters/gameAdapter.test.ts
  apps/web/src/shared/api/adapters/gameAdapter.ts
  apps/web/src/shared/api/eventBus.test.ts
  apps/web/src/shared/api/eventBus.ts
  apps/web/src/shared/api/mappers/commandMapper.test.ts
  apps/web/src/shared/api/mappers/commandMapper.ts
  apps/web/src/shared/api/mappers/dtoMapper.test.ts
  apps/web/src/shared/api/mappers/dtoMapper.ts
  apps/web/src/shared/api/repositories/index.test.ts
  apps/web/src/shared/api/repositories/index.ts
  packages/application/src/index.ts
  packages/infrastructure/src/index.test.ts
  packages/infrastructure/src/persistence/index.ts
  pnpm-lock.yaml
Due: application, infrastructure, web

feat(domain): implement core value objects, constants, and error types
  packages/domain/src/constants/AtBatResultType.test.ts
  packages/domain/src/constants/FieldPosition.test.ts
  packages/domain/src/constants/GameStatus.test.ts
  packages/domain/src/errors/DomainError.test.ts
  packages/domain/src/index.ts
  packages/domain/src/value-objects/BasesState.test.ts
  packages/domain/src/value-objects/BasesState.ts
  packages/domain/src/value-objects/BattingSlot.test.ts
  packages/domain/src/value-objects/BattingSlot.ts
  packages/domain/src/value-objects/DomainId.test.ts
  packages/domain/src/value-objects/DomainId.ts
  packages/domain/src/value-objects/GameId.test.ts
  packages/domain/src/value-objects/GameId.ts
  packages/domain/src/value-objects/GameScore.test.ts
  packages/domain/src/value-objects/GameScore.ts
  packages/domain/src/value-objects/InningStateId.test.ts
  packages/domain/src/value-objects/InningStateId.ts
  packages/domain/src/value-objects/JerseyNumber.test.ts
  packages/domain/src/value-objects/JerseyNumber.ts
  packages/domain/src/value-objects/PlayerId.test.ts
  packages/domain/src/value-objects/PlayerId.ts
  packages/domain/src/value-objects/Score.test.ts
  packages/domain/src/value-objects/Score.ts
  packages/domain/src/value-objects/TeamLineupId.test.ts
  packages/domain/src/value-objects/TeamLineupId.ts
Due: domain

feat(domain): implement comprehensive event sourcing system
  packages/domain/src/events/AtBatCompleted.test.ts
  packages/domain/src/events/AtBatCompleted.ts
  packages/domain/src/events/CurrentBatterChanged.test.ts
  packages/domain/src/events/CurrentBatterChanged.ts
  packages/domain/src/events/DomainEvent.test.ts
  packages/domain/src/events/DomainEvent.ts
  packages/domain/src/events/FieldPositionChanged.test.ts
  packages/domain/src/events/FieldPositionChanged.ts
  packages/domain/src/events/GameCompleted.test.ts
  packages/domain/src/events/GameCompleted.ts
  packages/domain/src/events/GameCreated.test.ts
  packages/domain/src/events/GameCreated.ts
  packages/domain/src/events/GameStarted.test.ts
  packages/domain/src/events/GameStarted.ts
  packages/domain/src/events/HalfInningEnded.test.ts
  packages/domain/src/events/HalfInningEnded.ts
  packages/domain/src/events/InningAdvanced.test.ts
  packages/domain/src/events/InningAdvanced.ts
  packages/domain/src/events/InningStateCreated.test.ts
  packages/domain/src/events/InningStateCreated.ts
  packages/domain/src/events/PlayerAddedToLineup.test.ts
  packages/domain/src/events/PlayerAddedToLineup.ts
  packages/domain/src/events/PlayerSubstitutedIntoGame.test.ts
  packages/domain/src/events/PlayerSubstitutedIntoGame.ts
  packages/domain/src/events/RunScored.test.ts
  packages/domain/src/events/RunScored.ts
  packages/domain/src/events/RunnerAdvanced.test.ts
  packages/domain/src/events/RunnerAdvanced.ts
  packages/domain/src/events/ScoreUpdated.test.ts
  packages/domain/src/events/ScoreUpdated.ts
  packages/domain/src/events/TeamLineupCreated.test.ts
  packages/domain/src/events/TeamLineupCreated.ts
Due: domain

feat(domain): implement core aggregate roots and business logic
  packages/domain/src/aggregates/Game.core.test.ts
  packages/domain/src/aggregates/Game.event-sourcing.test.ts
  packages/domain/src/aggregates/Game.snapshot.test.ts
  packages/domain/src/aggregates/Game.ts
  packages/domain/src/aggregates/Game.validation.test.ts
  packages/domain/src/aggregates/InningState.core.test.ts
  packages/domain/src/aggregates/InningState.event-sourcing.test.ts
  packages/domain/src/aggregates/InningState.runner-management.test.ts
  packages/domain/src/aggregates/InningState.ts
  packages/domain/src/aggregates/TeamLineup.core.test.ts
  packages/domain/src/aggregates/TeamLineup.event-sourcing.test.ts
  packages/domain/src/aggregates/TeamLineup.substitutions.test.ts
  packages/domain/src/aggregates/TeamLineup.ts
  packages/domain/src/aggregates/TeamLineup.validation.test.ts
Due: domain

feat(domain): implement domain services, strategies, and business rules
  packages/domain/src/rules/RuleVariants.test.ts
  packages/domain/src/rules/RuleVariants.ts
  packages/domain/src/rules/SoftballRules.test.ts
  packages/domain/src/rules/SoftballRules.ts
  packages/domain/src/services/GameCoordinator.complex-scenarios.test.ts
  packages/domain/src/services/GameCoordinator.core.test.ts
  packages/domain/src/services/GameCoordinator.error-handling.test.ts
  packages/domain/src/services/GameCoordinator.ts
  packages/domain/src/services/LineupValidator.test.ts
  packages/domain/src/services/LineupValidator.ts
  packages/domain/src/services/RBICalculator.test.ts
  packages/domain/src/services/RBICalculator.ts
  packages/domain/src/services/StatisticsCalculator.test.ts
  packages/domain/src/services/StatisticsCalculator.ts
  packages/domain/src/services/SubstitutionValidator.test.ts
  packages/domain/src/services/SubstitutionValidator.ts
  packages/domain/src/strategies/BaseTeamStrategy.ts
  packages/domain/src/strategies/DetailedTeamStrategy.test.ts
  packages/domain/src/strategies/DetailedTeamStrategy.ts
  packages/domain/src/strategies/SimpleTeamStrategy.test.ts
  packages/domain/src/strategies/SimpleTeamStrategy.ts
  packages/domain/src/strategies/TeamStrategy.test.ts
  packages/domain/src/strategies/TeamStrategy.ts
  packages/domain/src/validators/EventDataValidator.test.ts
  packages/domain/src/validators/EventDataValidator.ts
  packages/domain/src/validators/ScoreValidator.test.ts
  packages/domain/src/validators/ScoreValidator.ts
Due: domain

feat(domain): implement comprehensive test infrastructure and utilities
  packages/domain/src/integration/event-sourcing.test.ts
  packages/domain/src/test-utils/AssertionHelpers.test.ts
  packages/domain/src/test-utils/AssertionHelpers.ts
  packages/domain/src/test-utils/EventTestHelper.test.ts
  packages/domain/src/test-utils/EventTestHelper.ts
  packages/domain/src/test-utils/RunnerAdvancedTestHelpers.test.ts
  packages/domain/src/test-utils/RunnerAdvancedTestHelpers.ts
  packages/domain/src/test-utils/TeamStrategyTestHelper.test.ts
  packages/domain/src/test-utils/TeamStrategyTestHelper.ts
  packages/domain/src/test-utils/TestGameFactory.test.ts
  packages/domain/src/test-utils/TestGameFactory.ts
  packages/domain/src/test-utils/TestLineupBuilder.test.ts
  packages/domain/src/test-utils/TestLineupBuilder.ts
  packages/domain/src/test-utils/TestPlayerFactory.test.ts
  packages/domain/src/test-utils/TestPlayerFactory.ts
  packages/domain/src/test-utils/ValueObjectTestHelper.test.ts
  packages/domain/src/test-utils/ValueObjectTestHelper.ts
  packages/domain/src/test-utils/index.ts
  packages/domain/src/utils/BattingSlotValidation.test.ts
  packages/domain/src/utils/BattingSlotValidation.ts
  packages/domain/src/utils/NumericValidation.test.ts
  packages/domain/src/utils/NumericValidation.ts
  packages/domain/src/utils/StringValidation.test.ts
  packages/domain/src/utils/StringValidation.ts
  packages/domain/src/utils/TeamValidation.test.ts
  packages/domain/src/utils/TeamValidation.ts
Due: domain

feat(application): implement enterprise DI container and test factories
  packages/application/src/services/DIContainer.README.md
  packages/application/src/services/DIContainer.integration.test.ts
  packages/application/src/services/DIContainer.test.ts
  packages/application/src/services/DIContainer.ts
  packages/application/src/services/InfrastructureFactory.ts
  packages/application/src/test-factories/command-factories.ts
  packages/application/src/test-factories/dto-factories.ts
  packages/application/src/test-factories/event-factories.ts
  packages/application/src/test-factories/index.ts
  packages/application/src/test-factories/mock-factories.test.ts
  packages/application/src/test-factories/mock-factories.ts
  packages/application/src/test-factories/mock-service-factories.ts
  packages/application/src/test-factories/mocks/infrastructure-memory-mock.js
  packages/application/src/test-factories/mocks/infrastructure-web-mock.js
  packages/application/src/test-factories/test-builders.test.ts
  packages/application/src/test-factories/test-builders.ts
  packages/application/src/test-factories/test-infrastructure-factory.ts
  packages/application/src/test-factories/test-scenarios.test.ts
  packages/application/src/test-factories/test-scenarios.ts
Due: application

feat(infrastructure): implement hexagonal architecture adapters and persistence
  packages/infrastructure/package.json
  packages/infrastructure/src/index.test.ts
  packages/infrastructure/src/index.ts
  packages/infrastructure/src/memory.ts
  packages/infrastructure/src/memory/factory.ts
  packages/infrastructure/src/memory/index.ts
  packages/infrastructure/src/performance/SnapshotCorrectness.test.ts
  packages/infrastructure/src/performance/SnapshotPerformanceSimulation.test.ts
  packages/infrastructure/src/performance/eslint-disable.d.ts
  packages/infrastructure/src/persistence/EventSourcedGameRepository.test.ts
  packages/infrastructure/src/persistence/EventSourcedGameRepository.ts
  packages/infrastructure/src/persistence/EventSourcedTeamLineupRepository.test.ts
  packages/infrastructure/src/persistence/InMemoryEventStore.test.ts
  packages/infrastructure/src/persistence/InMemoryEventStore.ts
  packages/infrastructure/src/persistence/IndexedDBEventStore.connection-and-edge-cases.test.ts
  packages/infrastructure/src/persistence/IndexedDBEventStore.error-handling-and-validation.test.ts
  packages/infrastructure/src/persistence/IndexedDBEventStore.lifecycle.test.ts
  packages/infrastructure/src/persistence/IndexedDBEventStore.serialization.test.ts
  packages/infrastructure/src/persistence/IndexedDBEventStore.simple-transaction-errors.test.ts
  packages/infrastructure/src/persistence/IndexedDBEventStore.test.ts
  packages/infrastructure/src/persistence/IndexedDBEventStore.ts
  packages/infrastructure/src/persistence/IndexedDBSnapshotStore.ts
  packages/infrastructure/src/web.ts
  packages/infrastructure/src/web/factory.ts
  packages/infrastructure/src/web/index.ts
  packages/infrastructure/src/web/repositories/index.test.ts
  packages/infrastructure/src/web/repositories/index.ts
  packages/infrastructure/tsconfig.json
Due: infrastructure

feat(web): implement adaptive performance test framework
  apps/web/src/test/performance/gameSetup.perf.test.tsx
  apps/web/src/test/performance/utils/PerformanceBaseline.test.ts
  apps/web/src/test/performance/utils/PerformanceBaseline.ts
  apps/web/src/test/performance/utils/PerformanceBenchmark.test.ts
  apps/web/src/test/performance/utils/PerformanceBenchmark.ts
  apps/web/src/test/performance/utils/PerformanceTestHelper.test.ts
  apps/web/src/test/performance/utils/PerformanceTestHelper.ts
  apps/web/src/test/performance/utils/PerformanceThreshold.test.ts
  apps/web/src/test/performance/utils/PerformanceThreshold.ts
  apps/web/src/test/performance/utils/config.test.ts
  apps/web/src/test/performance/utils/config.ts
  apps/web/src/test/performance/utils/index.ts
  docs/guides/testing-strategy.md
  packages/application/src/test-utils/auth-test-constants.ts
Due: application

fix(web): replace Math.random() with crypto.randomUUID() for secure notification IDs
  apps/web/src/shared/lib/store/uiStore.ts
Due: web

fix(web): optimize performance tests for CI environment
  apps/web/src/test/performance/gameSetup.perf.test.tsx
  apps/web/vitest.config.ts
  packages/infrastructure/src/performance/SnapshotPerformanceBenchmark.test.ts
Due: none

fix(infrastructure): implement CI-aware performance testing
  packages/infrastructure/src/performance/SnapshotPerformanceBenchmark.test.ts
  packages/infrastructure/src/performance/SnapshotPerformanceBenchmark.ts
  packages/infrastructure/src/performance/utils/config.ts
Due: infrastructure

fix(web): resolve CI test failures through architectural improvements
  apps/web/src/test/performance/gameSetup.perf.test.tsx
  apps/web/src/test/performance/utils/PerformanceTestHelper.test.ts
Due: none

fix(ci): implement tiered coverage strategy and resolve test failures
  CLAUDE.md
  apps/web/vitest.config.ts
  packages/application/src/services/EventSourcingService.memory.test.ts
  packages/application/src/use-cases/RecordAtBat.test.ts
  packages/application/src/use-cases/StartNewGame.validation.test.ts
  packages/application/src/use-cases/UndoLastAction.test.ts
  packages/infrastructure/vitest.config.ts
  packages/shared/vitest.config.ts
Due: none

fix(infrastructure): replace flaky simulation with real IndexedDB integration tests
  packages/infrastructure/package.json
  packages/infrastructure/src/performance/SnapshotPerformanceIntegration.perf.test.ts
  packages/infrastructure/src/performance/SnapshotPerformanceSimulation.test.ts
  packages/infrastructure/vitest.config.ts
Due: none

feat: enable test:perf command from project root
  apps/web/package.json
  package.json
  packages/application/package.json
  packages/domain/package.json
  packages/shared/package.json
  turbo.json
Due: none

fix(web): separate performance tests from CI to resolve flaky failures
  apps/web/package.json
  apps/web/src/test/performance/utils/PerformanceBenchmark.perf.test.ts
  apps/web/src/test/performance/utils/PerformanceBenchmark.test.ts
  apps/web/vitest.config.ts
  docs/adr/ADR-007-performance-test-separation.md
  docs/guides/testing-strategy.md
Due: none

fix(codecov): resolve patch coverage blocking issue for PR #16
  .codecov.yml
  apps/web/src/pages/GameRecordingPage.test.tsx
  apps/web/src/pages/GameSetupLineupPage.test.tsx
  apps/web/src/pages/GameSetupTeamsPage.test.tsx
  apps/web/src/pages/GameStatsPage.test.tsx
  apps/web/src/pages/HomePage.test.tsx
  apps/web/src/shared/api/adapters/gameAdapter.test.ts
  apps/web/src/shared/api/di/logger.test.ts
  apps/web/src/shared/config/theme/theme.test.ts
  apps/web/src/shared/lib/useCases/gameUseCases.test.ts
Due: merged

test(infrastructure): replace Math.random() with SecureRandom for deterministic testing
  packages/infrastructure/src/performance/SnapshotPerformanceIntegration.perf.test.ts
Due: none

fix(web): resolve all 3 skipped DI container tests with dependency injection refactor
  apps/web/src/shared/api/di/container.test.ts
  apps/web/src/shared/api/di/container.ts
Due: web

feat(web): implement at-bat recording hooks with TDD
  apps/web/src/shared/hooks/useRecordAtBat.test.ts
  apps/web/src/shared/hooks/useRecordAtBat.ts
  apps/web/src/shared/hooks/useRunnerAdvancement.test.ts
  apps/web/src/shared/hooks/useRunnerAdvancement.ts
Due: web

feat(web): add runner advancement UI components
  apps/web/src/widgets/runner-advancement/RunnerAdvanceDropdown.test.tsx
  apps/web/src/widgets/runner-advancement/RunnerAdvanceDropdown.tsx
  apps/web/src/widgets/runner-advancement/RunnerAdvancementPanel.test.tsx
  apps/web/src/widgets/runner-advancement/RunnerAdvancementPanel.tsx
Due: web

feat(web): integrate at-bat recording with game page
  apps/web/src/pages/GameRecordingPage.test.tsx
  apps/web/src/pages/GameRecordingPage.tsx
Due: web

feat(web): add robust error handling for at-bat recording
  apps/web/src/pages/GameRecordingPage.test.tsx
  apps/web/src/pages/GameRecordingPage.tsx
  apps/web/src/shared/hooks/useErrorRecovery.test.ts
  apps/web/src/shared/hooks/useErrorRecovery.ts
  apps/web/src/widgets/error-boundary/ErrorBoundary.test.tsx
  apps/web/src/widgets/error-boundary/ErrorBoundary.tsx
  apps/web/src/widgets/error-boundary/index.ts
  packages/application/src/index.ts
  packages/application/src/types/domain-exports.ts
Due: application, web

perf(web): optimize at-bat recording performance and enhance UX
  apps/web/package.json
  apps/web/src/app/providers/router.test.tsx
  apps/web/src/app/providers/router.tsx
  apps/web/src/pages/GameRecordingPage.test.tsx
  apps/web/src/pages/GameRecordingPage.tsx
  apps/web/src/pages/GameStatsPage.test.tsx
  apps/web/src/pages/GameStatsPage.tsx
  apps/web/src/shared/hooks/usePerformanceOptimization.test.ts
  apps/web/src/shared/hooks/usePerformanceOptimization.ts
  apps/web/src/shared/utils/debounce.test.ts
  apps/web/src/shared/utils/debounce.ts
  apps/web/src/test/setup.ts
  apps/web/vite.config.ts
  docs/design/ui-ux/component-specifications.md
Due: web

feat: phase 5.3.c - at-bat recording implementation
  apps/web/src/main.tsx
  apps/web/src/pages/GameRecordingPage.tsx
  apps/web/src/pages/HomePage.tsx
  apps/web/src/shared/hooks/useNavigationGuard.ts
  apps/web/src/shared/hooks/usePerformanceOptimization.test.ts
  apps/web/src/shared/hooks/usePerformanceOptimization.ts
  apps/web/src/shared/lib/useCases/gameUseCases.test.ts
  apps/web/src/shared/lib/useCases/gameUseCases.ts
  apps/web/src/widgets/runner-advancement/RunnerAdvanceDropdown.tsx
  apps/web/src/widgets/runner-advancement/RunnerAdvancementPanel.tsx
Due: web

fix(web): eliminate PWA notification memory leaks with comprehensive timer management
  apps/web/src/main.tsx
  apps/web/src/pages/GameRecordingPage.tsx
  apps/web/src/pages/GameSetupLineupPage.tsx
  apps/web/src/pages/GameSetupTeamsPage.tsx
  apps/web/src/shared/hooks/useErrorRecovery.ts
  apps/web/src/shared/hooks/useTimerManager.test.tsx
  apps/web/src/shared/hooks/useTimerManager.ts
  apps/web/src/timer-manager.test.ts
  apps/web/src/timer-manager.ts
  apps/web/src/widgets/game-header/GameHeader.tsx
Due: web

feat: integrate Steiger FSD architecture validation
  .github/workflows/ci.yml
  .husky/pre-commit
  package.json
  pnpm-lock.yaml
  steiger.config.ts
Due: merged

fix: resolve TypeScript build errors in PR #17 CI pipeline
  apps/web/src/entities/game/api/gameAdapter.ts
  apps/web/src/shared/api/di/container.ts
Due: web

feat(web): add lineup management type definitions with TDD
  apps/web/src/shared/lib/types/index.ts
  apps/web/src/shared/lib/types/lineup.test.ts
  apps/web/src/shared/lib/types/lineup.ts
Due: web

feat(web): integrate Short Fielder (SF) as 10th defensive position
  apps/web/package.json
  apps/web/src/pages/game-setup/ui/GameSetupLineupPage.test.tsx
  apps/web/src/pages/game-setup/ui/GameSetupLineupPage.tsx
  apps/web/src/shared/api/mappers/commandMapper.test.ts
  apps/web/src/shared/lib/types/lineup.test.ts
  apps/web/src/shared/lib/types/lineup.ts
Due: web

feat(web): implement lineup management feature slice with TDD
  apps/web/src/entities/game/api/gameAdapter.ts
  apps/web/src/entities/game/model/gameStore.ts
  apps/web/src/features/lineup-management/index.ts
  apps/web/src/features/lineup-management/model/index.ts
  apps/web/src/features/lineup-management/model/useLineupManagement.test.ts
  apps/web/src/features/lineup-management/model/useLineupManagement.ts
  apps/web/src/features/lineup-management/ui/LineupEditor.test.tsx
  apps/web/src/features/lineup-management/ui/LineupEditor.tsx
  apps/web/src/features/lineup-management/ui/PositionAssignment.test.tsx
  apps/web/src/features/lineup-management/ui/PositionAssignment.tsx
  apps/web/src/features/lineup-management/ui/SubstitutionDialog.test.tsx
  apps/web/src/features/lineup-management/ui/SubstitutionDialog.tsx
  apps/web/src/features/lineup-management/ui/index.ts
  apps/web/src/shared/api/di/container.ts
Due: web

chore: upgrade dependencies, fix vulnerabilities, setup Dependabot, and fix test race conditions
  .github/dependabot.yml
  apps/web/src/pages/game-setup/ui/GameSetupLineupPage.test.tsx
  eslint.config.js
  package.json
  packages/application/src/services/EventSourcingService.memory.test.ts
  pnpm-lock.yaml
Due: none

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: none

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: none

Path conditions:
  merged: any of: ., but not: **/*.test.ts, **/*.spec.ts, **/test/**, **/tests/**, **/__tests__/**, **/*.test.tsx, **/*.spec.tsx, **/coverage/**, **/node_modules/**, **/dist/**, **/build/**, **/*.d.ts, **/vite.config.ts, **/vitest.config.ts, **/*.config.js, **/*.config.ts, **/tsconfig*.json, **/package.json, **/pnpm-lock.yaml, tools/**, scripts/**, .github/**, docs/**, **/*.stories.ts, **/*.stories.tsx, **/.storybook/**
  domain: any of: packages/domain/src/, but not: **/*.test.ts, **/*.spec.ts, **/test/**, **/tests/**, **/__tests__/**, **/*.test.tsx, **/*.spec.tsx, **/coverage/**, **/node_modules/**, **/dist/**, **/build/**, **/*.d.ts, **/vite.config.ts, **/vitest.config.ts, **/*.config.js, **/*.config.ts, **/tsconfig*.json, **/package.json, **/pnpm-lock.yaml, tools/**, scripts/**, .github/**, docs/**, **/*.stories.ts, **/*.stories.tsx, **/.storybook/**
  application: any of: packages/application/src/, but not: **/*.test.ts, **/*.spec.ts, **/test/**, **/tests/**, **/__tests__/**, **/*.test.tsx, **/*.spec.tsx, **/coverage/**, **/node_modules/**, **/dist/**, **/build/**, **/*.d.ts, **/vite.config.ts, **/vitest.config.ts, **/*.config.js, **/*.config.ts, **/tsconfig*.json, **/package.json, **/pnpm-lock.yaml, tools/**, scripts/**, .github/**, docs/**, **/*.stories.ts, **/*.stories.tsx, **/.storybook/**
  infrastructure: any of: packages/infrastructure/src/, but not: **/*.test.ts, **/*.spec.ts, **/test/**, **/tests/**, **/__tests__/**, **/*.test.tsx, **/*.spec.tsx, **/coverage/**, **/node_modules/**, **/dist/**, **/build/**, **/*.d.ts, **/vite.config.ts, **/vitest.config.ts, **/*.config.js, **/*.config.ts, **/tsconfig*.json, **/package.json, **/pnpm-lock.yaml, tools/**, scripts/**, .github/**, docs/**, **/*.stories.ts, **/*.stories.tsx, **/.storybook/**
  shared: any of: packages/shared/src/, but not: **/*.test.ts, **/*.spec.ts, **/test/**, **/tests/**, **/__tests__/**, **/*.test.tsx, **/*.spec.tsx, **/coverage/**, **/node_modules/**, **/dist/**, **/build/**, **/*.d.ts, **/vite.config.ts, **/vitest.config.ts, **/*.config.js, **/*.config.ts, **/tsconfig*.json, **/package.json, **/pnpm-lock.yaml, tools/**, scripts/**, .github/**, docs/**, **/*.stories.ts, **/*.stories.tsx, **/.storybook/**
  web: any of: apps/web/src/, but not: **/*.test.ts, **/*.spec.ts, **/test/**, **/tests/**, **/__tests__/**, **/*.test.tsx, **/*.spec.tsx, **/coverage/**, **/node_modules/**, **/dist/**, **/build/**, **/*.d.ts, **/vite.config.ts, **/vitest.config.ts, **/*.config.js, **/*.config.ts, **/tsconfig*.json, **/package.json, **/pnpm-lock.yaml, tools/**, scripts/**, .github/**, docs/**, **/*.stories.ts, **/*.stories.tsx, **/.storybook/**
