Repository xeonchen/twsoftball: changes, and which Codecov flags are due for each by the changed paths.
All: domain, application, infrastructure, shared, web

.codecov.yml:

coverage:
  status:
    project:
      default:
        target: 90%
        threshold: 1%
        if_not_found: success
        if_ci_failed: error
    patch:
      default:
        target: 80%
        threshold: 1%
        if_not_found: success
        if_ci_failed: error
  precision: 2
  round: down
  range: 70...100

flags:
  domain:
    paths:
      - packages/domain/
    carryforward: false
  application:
    paths:
      - packages/application/
    carryforward: false
  infrastructure:
    paths:
      - packages/infrastructure/
    carryforward: false
  shared:
    paths:
      - packages/shared/
    carryforward: false
  web:
    paths:
      - apps/web/
    carryforward: false

comment:
  layout: 'reach, diff, flags, files'
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

github_checks:
  annotations: true

ignore:
  - '**/*.test.ts'
  - '**/*.spec.ts'
  - '**/test/**'
  - '**/tests/**'
  - '**/__tests__/**'
  - '**/coverage/**'
  - '**/node_modules/**'
  - '**/dist/**'
  - '**/build/**'
  - '**/*.d.ts'
  - '**/vite.config.ts'
  - '**/vitest.config.ts'
  - '**/*.config.js'
  - '**/*.config.ts'

feat: Add Codecov badge to README
  README.md
Due: none

fix: Add required permissions for CodeQL Analysis job
  .github/workflows/ci.yml
Due: none

feat: Add placeholder web deployment setup
  .github/workflows/deploy.yml
  apps/web/index.html
  apps/web/package.json
Due: web

docs: Complete Phase 1 documentation with cross-references and improvements
  README.md
  docs/DEVELOPMENT.md
  docs/adr/ADR-001-ddd-hexagonal-solid.md
  docs/adr/ADR-002-event-sourcing-pattern.md
  docs/adr/ADR-003-pwa-first-approach.md
  docs/adr/ADR-004-monorepo-structure.md
  docs/design/api-contracts.md
  docs/design/architecture.md
  docs/design/domain-model.md
  docs/design/event-sourcing.md
  docs/design/use-cases.md
Due: none

docs: Refine architecture based on review session
  docs/adr/ADR-005-offline-synchronization-conflicts.md
  docs/adr/ADR-006-cross-aggregate-consistency.md
  docs/design/architecture.md
  docs/design/event-sourcing.md
Due: none

docs: Reorganize documentation structure and add implementation guides
  docs/design/architecture.md
  docs/design/domain-model.md
  docs/design/event-sourcing.md
  docs/design/use-cases.md
  docs/guides/development.md
  docs/guides/implementation.md
  docs/guides/testing-strategy.md
Due: none

fix: Add lint and format scripts to all packages
  .eslintrc.cjs
  apps/web/package.json
  package.json
  packages/application/package.json
  packages/application/tsconfig.json
  packages/application/tsconfig.lint.json
  packages/domain/package.json
  packages/domain/tsconfig.json
  packages/domain/tsconfig.lint.json
  packages/domain/vitest.config.ts
  packages/infrastructure/package.json
  packages/infrastructure/tsconfig.lint.json
  packages/shared/package.json
  packages/shared/tsconfig.lint.json
  pnpm-workspace.yaml
  vitest.config.ts
Due: domain, application, infrastructure, shared, web

feat: Add comprehensive value objects with business logic
  packages/domain/src/value-objects/GameScore.test.ts
  packages/domain/src/value-objects/GameScore.ts
  packages/domain/src/value-objects/JerseyNumber.test.ts
  packages/domain/src/value-objects/JerseyNumber.ts
  packages/domain/src/value-objects/Score.test.ts
  packages/domain/src/value-objects/Score.ts
Due: domain

docs: Update domain architecture with multi-aggregate design and fine-grained events
  docs/design/domain-model.md
  docs/design/event-sourcing.md
Due: none

feat: Implement domain layer foundation with TDD approach
  packages/domain/src/constants/AtBatResultType.test.ts
  packages/domain/src/constants/AtBatResultType.ts
  packages/domain/src/constants/FieldPosition.test.ts
  packages/domain/src/constants/FieldPosition.ts
  packages/domain/src/constants/GameStatus.test.ts
  packages/domain/src/constants/GameStatus.ts
  packages/domain/src/errors/DomainError.test.ts
  packages/domain/src/errors/DomainError.ts
  packages/domain/src/events/DomainEvent.test.ts
  packages/domain/src/events/DomainEvent.ts
  packages/domain/src/value-objects/GameId.test.ts
  packages/domain/src/value-objects/GameId.ts
  packages/domain/src/value-objects/PlayerId.test.ts
  packages/domain/src/value-objects/PlayerId.ts
Due: domain

feat: Implement team strategy pattern for flexible player management
  packages/domain/src/index.ts
  packages/domain/src/strategies/DetailedTeamStrategy.test.ts
  packages/domain/src/strategies/DetailedTeamStrategy.ts
  packages/domain/src/strategies/SimpleTeamStrategy.test.ts
  packages/domain/src/strategies/SimpleTeamStrategy.ts
  packages/domain/src/strategies/TeamStrategy.test.ts
  packages/domain/src/strategies/TeamStrategy.ts
Due: domain

feat: Implement InningState aggregate for detailed play-by-play tracking
  packages/domain/src/aggregates/InningState.test.ts
  packages/domain/src/aggregates/InningState.ts
  packages/domain/src/events/CurrentBatterChanged.ts
  packages/domain/src/events/HalfInningEnded.ts
  packages/domain/src/events/InningStateCreated.ts
  packages/domain/src/index.ts
Due: domain

feat: Complete value objects and domain events with comprehensive documentation
  packages/domain/src/constants/AtBatResultType.ts
  packages/domain/src/constants/FieldPosition.ts
  packages/domain/src/constants/GameStatus.ts
  packages/domain/src/errors/DomainError.ts
  packages/domain/src/events/AtBatCompleted.test.ts
  packages/domain/src/events/AtBatCompleted.ts
  packages/domain/src/events/DomainEvent.ts
  packages/domain/src/events/RunScored.test.ts
  packages/domain/src/events/RunScored.ts
  packages/domain/src/events/RunnerAdvanced.test.ts
  packages/domain/src/events/RunnerAdvanced.ts
  packages/domain/src/index.ts
  packages/domain/src/value-objects/BasesState.test.ts
  packages/domain/src/value-objects/BasesState.ts
  packages/domain/src/value-objects/BattingSlot.test.ts
  packages/domain/src/value-objects/BattingSlot.ts
  packages/domain/src/value-objects/GameId.ts
  packages/domain/src/value-objects/GameScore.ts
  packages/domain/src/value-objects/InningStateId.test.ts
  packages/domain/src/value-objects/InningStateId.ts
  packages/domain/src/value-objects/JerseyNumber.ts
  packages/domain/src/value-objects/PlayerId.ts
  packages/domain/src/value-objects/Score.ts
  packages/domain/src/value-objects/TeamLineupId.test.ts
  packages/domain/src/value-objects/TeamLineupId.ts
Due: domain

feat: Implement Game aggregate root with comprehensive lifecycle management
  packages/domain/src/aggregates/Game.test.ts
  packages/domain/src/aggregates/Game.ts
  packages/domain/src/events/GameCompleted.test.ts
  packages/domain/src/events/GameCompleted.ts
  packages/domain/src/events/GameCreated.test.ts
  packages/domain/src/events/GameCreated.ts
  packages/domain/src/events/GameStarted.test.ts
  packages/domain/src/events/GameStarted.ts
  packages/domain/src/events/InningAdvanced.test.ts
  packages/domain/src/events/InningAdvanced.ts
  packages/domain/src/events/ScoreUpdated.test.ts
  packages/domain/src/events/ScoreUpdated.ts
  packages/domain/src/index.ts
Due: domain

feat: Implement TeamLineup aggregate for player roster management
  packages/domain/src/aggregates/TeamLineup.test.ts
  packages/domain/src/aggregates/TeamLineup.ts
  packages/domain/src/events/PlayerAddedToLineup.test.ts
  packages/domain/src/events/PlayerAddedToLineup.ts
  packages/domain/src/events/TeamLineupCreated.test.ts
  packages/domain/src/events/TeamLineupCreated.ts
  packages/domain/src/index.ts
Due: domain

feat: Add remaining domain events for player management
  packages/domain/src/events/FieldPositionChanged.test.ts
  packages/domain/src/events/FieldPositionChanged.ts
  packages/domain/src/events/PlayerSubstitutedIntoGame.test.ts
  packages/domain/src/events/PlayerSubstitutedIntoGame.ts
  packages/domain/src/index.ts
Due: domain

feat: Add comprehensive tests for CurrentBatterChanged, HalfInningEnded, and InningStateCreated events
  packages/domain/src/events/CurrentBatterChanged.test.ts
  packages/domain/src/events/HalfInningEnded.test.ts
  packages/domain/src/events/InningStateCreated.test.ts
Due: none

feat: Add comprehensive domain services layer for game coordination
  apps/web/tsconfig.json
  packages/domain/src/services/GameCoordinator.test.ts
  packages/domain/src/services/GameCoordinator.ts
  packages/domain/src/services/LineupValidator.test.ts
  packages/domain/src/services/LineupValidator.ts
  packages/domain/src/services/RBICalculator.test.ts
  packages/domain/src/services/RBICalculator.ts
  packages/domain/src/services/StatisticsCalculator.test.ts
  packages/domain/src/services/StatisticsCalculator.ts
  packages/domain/src/services/SubstitutionValidator.test.ts
  packages/domain/src/services/SubstitutionValidator.ts
Due: domain, web

feat: Implement comprehensive Game Rules module with extensive rule variants
  packages/domain/src/index.ts
  packages/domain/src/rules/RuleVariants.test.ts
  packages/domain/src/rules/RuleVariants.ts
  packages/domain/src/rules/SoftballRules.test.ts
  packages/domain/src/rules/SoftballRules.ts
Due: domain

refactor: Clean up Phase 2 domain layer architecture
  docs/design/api-contracts.md
  packages/domain/src/aggregates/TeamLineup.test.ts
  packages/domain/src/aggregates/TeamLineup.ts
  packages/domain/src/index.ts
  packages/domain/src/rules/RuleVariants.test.ts
  packages/domain/src/rules/RuleVariants.ts
  packages/domain/src/rules/SoftballRules.test.ts
  packages/domain/src/rules/SoftballRules.ts
  packages/domain/src/services/GameCoordinator.test.ts
  packages/domain/src/services/GameCoordinator.ts
  packages/domain/src/services/LineupValidator.test.ts
  packages/domain/src/services/LineupValidator.ts
  packages/domain/src/strategies/DetailedTeamStrategy.test.ts
  packages/domain/src/strategies/DetailedTeamStrategy.ts
  packages/domain/src/strategies/SimpleTeamStrategy.test.ts
  packages/domain/src/strategies/SimpleTeamStrategy.ts
  tools/scripts/merge-coverage.js
Due: domain

feat: Update SoftballRules defaults from null to concrete values
  packages/domain/src/rules/SoftballRules.test.ts
  packages/domain/src/rules/SoftballRules.ts
Due: domain

feat: Achieve 100% Hexagonal Architecture compliance with comprehensive dependency rules
  .dependency-cruiser.cjs
  .eslintrc.cjs
  docs/design/architecture.md
Due: none

docs: Synchronize documentation with Phase 2 completion
  docs/design/domain-model.md
  docs/design/event-sourcing.md
Due: none

fix: Update pnpm-lock.yaml to resolve CI pipeline failure
  pnpm-lock.yaml
Due: none

fix: Add crypto polyfill for CI environment
  .dependency-cruiser.cjs
  packages/domain/tsconfig.lint.json
  packages/domain/vitest.config.ts
  packages/domain/vitest.setup.ts
Due: domain

fix: Resolve TypeScript compatibility warnings and lint errors
  package.json
  packages/domain/src/aggregates/InningState.ts
  packages/domain/src/events/RunnerAdvanced.ts
  pnpm-lock.yaml
Due: domain

feat: Implement coverage best practices excluding test files from metrics
  packages/application/vitest.config.ts
  packages/domain/vitest.config.ts
  packages/infrastructure/vitest.config.ts
  packages/shared/vitest.config.ts
  vitest.config.ts
Due: none

feat: Upgrade packages to latest stable versions with ESLint v9 migration
  .eslintrc.cjs
  eslint.config.js
  package.json
  packages/domain/package.json
  packages/domain/src/events/RunnerAdvanced.ts
  packages/domain/src/services/LineupValidator.test.ts
  packages/domain/src/test-utils/ValueObjectTestHelper.ts
  packages/domain/src/utils/NumericValidation.ts
  packages/domain/src/value-objects/BasesState.ts
  packages/domain/src/value-objects/BattingSlot.ts
  pnpm-lock.yaml
Due: domain

refactor: Remove all eslint-disable comments from production code
  packages/domain/src/events/RunnerAdvanced.test.ts
  packages/domain/src/events/RunnerAdvanced.ts
  packages/domain/src/services/GameCoordinator.ts
  packages/domain/src/services/RBICalculator.test.ts
  packages/domain/src/services/RBICalculator.ts
  packages/domain/src/services/SubstitutionValidator.test.ts
  packages/domain/src/services/SubstitutionValidator.ts
Due: domain

test: Achieve 100% coverage for RuleVariants Advanced Mercy Rule factory methods
  packages/domain/src/rules/RuleVariants.test.ts
Due: none

fix: Update Node.js version from 18 to 20 in GitHub Actions workflows
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
Due: none

fix: Remove deprecated husky install command from prepare script
  package.json
Due: none

docs: Update README.md to sync with latest project status
  README.md
Due: none

fix: Eliminate test code duplication and achieve 100% patch coverage
  packages/domain/src/aggregates/InningState.test.ts
  packages/domain/src/utils/TeamValidation.test.ts
  packages/domain/src/validators/EventDataValidator.test.ts
  packages/domain/src/value-objects/JerseyNumber.test.ts
Due: none

feat(application): add DTOs and port interfaces for application layer
  packages/application/package.json
  packages/application/src/dtos/AtBatResult.test.ts
  packages/application/src/dtos/AtBatResult.ts
  packages/application/src/dtos/AtBatResultDTO.test.ts
  packages/application/src/dtos/AtBatResultDTO.ts
  packages/application/src/dtos/BasesStateDTO.test.ts
  packages/application/src/dtos/BasesStateDTO.ts
  packages/application/src/dtos/GameScoreDTO.test.ts
  packages/application/src/dtos/GameScoreDTO.ts
  packages/application/src/dtos/GameStartResult.test.ts
  packages/application/src/dtos/GameStartResult.ts
  packages/application/src/dtos/GameStateDTO.test.ts
  packages/application/src/dtos/GameStateDTO.ts
  packages/application/src/dtos/PlayerInGameDTO.test.ts
  packages/application/src/dtos/PlayerInGameDTO.ts
  packages/application/src/dtos/PlayerStatisticsDTO.test.ts
  packages/application/src/dtos/PlayerStatisticsDTO.ts
  packages/application/src/dtos/RecordAtBatCommand.test.ts
  packages/application/src/dtos/RecordAtBatCommand.ts
  packages/application/src/dtos/RunnerAdvanceDTO.test.ts
  packages/application/src/dtos/RunnerAdvanceDTO.ts
  packages/application/src/dtos/StartNewGameCommand.test.ts
  packages/application/src/dtos/StartNewGameCommand.ts
  packages/application/src/dtos/TeamLineupDTO.test.ts
  packages/application/src/dtos/TeamLineupDTO.ts
  packages/application/src/index.ts
  packages/application/src/ports/in/GameCommandService.test.ts
  packages/application/src/ports/in/GameCommandService.ts
  packages/application/src/ports/in/GameQueryService.test.ts
  packages/application/src/ports/in/GameQueryService.ts
  packages/application/src/ports/out/EventStore.test.ts
  packages/application/src/ports/out/EventStore.ts
  packages/application/src/ports/out/GameRepository.test.ts
  packages/application/src/ports/out/GameRepository.ts
  packages/domain/package.json
  packages/infrastructure/package.json
  packages/shared/package.json
Due: domain, application, infrastructure, shared

feat(application): add Logger port interface
  packages/application/src/index.ts
  packages/application/src/ports/out/Logger.test.ts
  packages/application/src/ports/out/Logger.ts
Due: application

feat(ci): enhance coverage merge with NYC-based monorepo aggregation
  .github/workflows/ci.yml
  eslint.config.js
  package.json
  pnpm-lock.yaml
  tools/scripts/merge-coverage.js
Due: none

fix(ci): implement pnpm store caching for workspace dependencies
  .github/workflows/ci.yml
Due: none

fix(build): implement solution-style TypeScript configuration for monorepo
  .github/workflows/ci.yml
  apps/web/tsconfig.json
  package.json
  packages/application/tsconfig.json
  packages/domain/tsconfig.json
  packages/infrastructure/tsconfig.json
  packages/shared/src/index.ts
  packages/shared/tsconfig.json
  tsconfig.build.json
  tsconfig.json
Due: domain, application, infrastructure, shared, web
