Repository xeonchen/twsoftball: changes, and which Codecov flags are due for each by the changed paths.
All: domain, application, infrastructure, shared, web

feat(ci): enhance Codecov configuration for hexagonal architecture monorepo
  .codecov.yml
Due: none

fix(ci): add build step before running tests to resolve package resolution
  .github/workflows/ci.yml
Due: none

feat(application): implement RecordAtBat and StartNewGame use cases
  packages/application/src/index.ts
  packages/application/src/ports/out/GameRepository.test.ts
  packages/application/src/ports/out/GameRepository.ts
  packages/application/src/use-cases/RecordAtBat.test.ts
  packages/application/src/use-cases/RecordAtBat.ts
  packages/application/src/use-cases/StartNewGame.test.ts
  packages/application/src/use-cases/StartNewGame.ts
Due: application

fix(config): add resource constraints to vitest configuration
  vitest.config.ts
Due: none

feat(config): optimize TypeScript and ESLint configuration for 2025 best practices
  .lintstagedrc.cjs
  apps/web/tsconfig.json
  eslint.config.js
  package.json
  packages/application/package.json
  packages/application/src/ports/in/GameCommandService.test.ts
  packages/application/src/ports/in/GameQueryService.test.ts
  packages/application/src/ports/out/EventStore.test.ts
  packages/application/src/ports/out/GameRepository.test.ts
  packages/application/tsconfig.json
  packages/application/tsconfig.lint.json
  packages/domain/package.json
  packages/domain/tsconfig.json
  packages/domain/tsconfig.lint.json
  packages/infrastructure/package.json
  packages/infrastructure/tsconfig.json
  packages/infrastructure/tsconfig.lint.json
  packages/shared/package.json
  packages/shared/tsconfig.json
  packages/shared/tsconfig.lint.json
  tsconfig.base.json
  tsconfig.json
  tsconfig.lint.json
Due: domain, application, infrastructure, shared, web

chore(deps): upgrade to latest stable package versions
  apps/web/package.json
  package.json
  packages/application/package.json
  packages/infrastructure/package.json
  packages/shared/package.json
  pnpm-lock.yaml
Due: application, infrastructure, shared, web

fix(config): adjust coverage thresholds for Phase 3 development
  packages/application/vitest.config.ts
  packages/domain/vitest.config.ts
Due: none

feat(config): Migrate to Turbo monorepo tooling with comprehensive dev setup
  .editorconfig
  .gitignore
  .husky/commit-msg
  .nvmrc
  .vscode.example/README.md
  .vscode.example/extensions.json
  .vscode.example/settings.json
  commitlint.config.js
  package.json
  pnpm-lock.yaml
  turbo.json
Due: none

chore: complete Phase 2 configuration improvements with flexible commitlint
  .editorconfig
  commitlint.config.js
Due: none

fix: add missing @eslint/js dependency for CI
  package.json
  pnpm-lock.yaml
Due: none

fix(ci): correct format script command and add husky prepare hook
  .github/workflows/ci.yml
  package.json
Due: none

fix: add missing newlines at end of files per PR review
  .editorconfig
  .husky/commit-msg
  .nvmrc
Due: none

fix(application): implement all TODO fixes in application layer
  packages/application/src/ports/in/GameCommandService.ts
  packages/application/src/ports/in/GameQueryService.ts
  packages/application/src/services/GameApplicationService.test.ts
  packages/application/src/services/GameApplicationService.ts
  packages/application/src/use-cases/StartNewGame.ts
  packages/application/src/use-cases/SubstitutePlayer.test.ts
Due: application

test(application): add comprehensive transaction tests for GameApplicationService
  packages/application/src/services/GameApplicationService.test.ts
Due: none

test(application): add event integrity tests for EventSourcingService
  packages/application/src/services/EventSourcingService.test.ts
Due: none

feat(application): implement Phase 7 DTO validation and testing
  packages/application/src/dtos/AtBatResult.test.ts
  packages/application/src/dtos/AtBatResult.ts
  packages/application/src/dtos/RecordAtBatCommand.test.ts
  packages/application/src/dtos/RecordAtBatCommand.ts
  packages/application/src/dtos/StartNewGameCommand.test.ts
  packages/application/src/dtos/StartNewGameCommand.ts
Due: application

test(application): improve use case coverage with targeted edge case tests
  packages/application/src/use-cases/EndInning.test.ts
  packages/application/src/use-cases/RecordAtBat.test.ts
  packages/application/src/use-cases/RedoLastAction.test.ts
  packages/application/src/use-cases/StartNewGame.test.ts
  packages/application/src/use-cases/UndoLastAction.test.ts
Due: none

test(application): add comprehensive concurrency tests for EventSourcingService
  packages/application/src/services/EventSourcingService.test.ts
Due: none

test(application): add comprehensive concurrency tests for GameApplicationService
  packages/application/src/services/GameApplicationService.test.ts
Due: none

test(application): add advanced error recovery tests for GameApplicationService
  packages/application/src/services/GameApplicationService.test.ts
Due: none

fix(application): transaction integrity and critical service coverage to 95%+
  packages/application/src/services/EventSourcingService.test.ts
  packages/application/src/services/GameApplicationService.test.ts
  packages/application/src/services/GameApplicationService.ts
  packages/application/src/use-cases/RecordAtBat.ts
Due: application

refactor(application): decompose complex methods for maintainability
  packages/application/src/services/GameApplicationService.ts
Due: application

feat(config): update coverage thresholds and enhance test configuration
  .codecov.yml
  apps/web/package.json
  apps/web/src/index.test.ts
  apps/web/src/index.ts
  apps/web/tsconfig.json
  apps/web/vitest.config.ts
  packages/application/vitest.config.ts
  packages/domain/vitest.config.ts
  packages/infrastructure/vitest.config.ts
  vitest.config.ts
Due: web

feat(application): complete DTO validation and cleanup unused code
  .codecov.yml
  packages/application/src/dtos/CompleteAtBatSequenceCommand.test.ts
  packages/application/src/dtos/CompleteAtBatSequenceCommand.ts
  packages/application/src/dtos/CompleteGameWorkflowCommand.test.ts
  packages/application/src/dtos/CompleteGameWorkflowCommand.ts
  packages/application/src/dtos/EndGameCommand.test.ts
  packages/application/src/dtos/EndGameCommand.ts
  packages/application/src/dtos/EndInningCommand.test.ts
  packages/application/src/dtos/EndInningCommand.ts
  packages/application/src/dtos/RedoCommand.test.ts
  packages/application/src/dtos/RedoCommand.ts
  packages/application/src/dtos/SubstitutePlayerCommand.test.ts
  packages/application/src/dtos/SubstitutePlayerCommand.ts
  packages/application/src/dtos/UndoCommand.test.ts
  packages/application/src/dtos/UndoCommand.ts
  packages/application/src/services/EventSourcingService.test.ts
  packages/application/src/services/EventSourcingService.ts
  packages/application/src/use-cases/EndInning.test.ts
  packages/application/src/use-cases/EndInning.ts
  packages/application/src/use-cases/RecordAtBat.test.ts
  packages/application/src/use-cases/RecordAtBat.ts
  packages/application/src/use-cases/RedoLastAction.test.ts
  packages/application/src/use-cases/RedoLastAction.ts
  packages/application/src/use-cases/StartNewGame.test.ts
  packages/application/src/use-cases/StartNewGame.ts
  packages/application/src/use-cases/SubstitutePlayer.test.ts
  packages/application/src/use-cases/SubstitutePlayer.ts
  packages/application/src/use-cases/UndoLastAction.test.ts
  packages/application/src/use-cases/UndoLastAction.ts
Due: application

test(application): comprehensive test coverage improvements across all layers
  packages/application/src/dtos/AtBatResult.test.ts
  packages/application/src/dtos/RecordAtBatCommand.test.ts
  packages/application/src/dtos/StartNewGameCommand.test.ts
  packages/application/src/ports/in/GameCommandService.test.ts
  packages/application/src/ports/in/GameQueryService.test.ts
  packages/application/src/services/EventSourcingService.test.ts
  packages/application/src/services/GameApplicationService.test.ts
  packages/application/src/services/index.test.ts
  packages/application/src/use-cases/EndInning.test.ts
  packages/application/src/use-cases/RecordAtBat.test.ts
  packages/application/src/use-cases/StartNewGame.test.ts
  packages/application/src/use-cases/SubstitutePlayer.test.ts
  packages/domain/src/test-utils/TestLineupBuilder.test.ts
  packages/domain/src/test-utils/TestLineupBuilder.ts
Due: domain

refactor(application): simplify StartNewGame validation logic
  packages/application/src/use-cases/StartNewGame.test.ts
  packages/application/src/use-cases/StartNewGame.ts
Due: application

fix(application): resolve SonarCloud quality issues for Phase 3.4
  packages/application/src/ports/out/AuthService.test.ts
  packages/application/src/ports/out/Logger.test.ts
  packages/application/src/test-utils/auth-test-constants.ts
  packages/application/src/use-cases/EndInning.ts
  packages/application/src/use-cases/RecordAtBat.ts
  packages/application/src/use-cases/StartNewGame.ts
  packages/application/src/utils/UseCaseErrorHandler.test.ts
  packages/application/src/utils/UseCaseErrorHandler.ts
  packages/application/src/utils/UseCaseLogger.test.ts
  packages/application/src/utils/UseCaseLogger.ts
  packages/application/src/utils/index.test.ts
  packages/application/src/utils/index.ts
Due: application

fix(application): resolve SonarCloud security hotspots and code duplication
  packages/application/src/dtos/AtBatResult.test.ts
  packages/application/src/dtos/AtBatResult.ts
  packages/application/src/dtos/CompleteAtBatSequenceCommand.ts
  packages/application/src/dtos/CompleteGameWorkflowCommand.ts
  packages/application/src/dtos/EndGameCommand.ts
  packages/application/src/dtos/EndInningCommand.test.ts
  packages/application/src/dtos/EndInningCommand.ts
  packages/application/src/dtos/RecordAtBatCommand.test.ts
  packages/application/src/dtos/RecordAtBatCommand.ts
  packages/application/src/dtos/RedoCommand.ts
  packages/application/src/dtos/StartNewGameCommand.test.ts
  packages/application/src/dtos/StartNewGameCommand.ts
  packages/application/src/dtos/SubstitutePlayerCommand.ts
  packages/application/src/dtos/UndoCommand.ts
  packages/application/src/errors/ValidationError.ts
  packages/application/src/ports/out/AuthService.test.ts
  packages/application/src/services/EventSourcingService.test.ts
  packages/application/src/services/EventSourcingService.ts
  packages/application/src/services/GameApplicationService.test.ts
  packages/application/src/test-utils/auth-test-constants.ts
  packages/application/src/test-utils/secure-test-utils.test.ts
  packages/application/src/test-utils/secure-test-utils.ts
  packages/application/src/use-cases/RedoLastAction.test.ts
  packages/application/src/utils/CommonValidators.ts
  packages/application/src/utils/safe-json-parser.test.ts
  packages/application/src/utils/safe-json-parser.ts
Due: application

fix(application): resolve SonarCloud quality issues for Phase 3.4
  packages/application/src/dtos/AtBatResult.test.ts
  packages/application/src/dtos/RecordAtBatCommand.test.ts
  packages/application/src/dtos/StartNewGameCommand.test.ts
  packages/application/src/ports/in/GameCommandService.test.ts
  packages/application/src/test-factories/index.ts
  packages/application/src/test-factories/mock-factories.test.ts
  packages/application/src/test-factories/mock-factories.ts
  packages/application/src/test-factories/test-builders.test.ts
  packages/application/src/test-factories/test-builders.ts
  packages/application/src/test-factories/test-scenarios.test.ts
  packages/application/src/test-factories/test-scenarios.ts
  packages/application/src/use-cases/RecordAtBat.test.ts
  packages/application/src/use-cases/RecordAtBat.ts
  packages/application/src/use-cases/RedoLastAction.test.ts
Due: application

test(application): comprehensive validation and error handling test coverage
  packages/application/src/errors/ValidationError.test.ts
  packages/application/src/test-utils/auth-test-constants.test.ts
  packages/application/src/use-cases/EndInning.test.ts
  packages/application/src/use-cases/RecordAtBat.test.ts
  packages/application/src/use-cases/RecordAtBat.ts
  packages/application/src/use-cases/StartNewGame.test.ts
  packages/application/vitest.config.ts
Due: application

refactor(application): eliminate code duplication in test files
  packages/application/src/ports/in/GameCommandService.test.ts
  packages/application/src/test-factories/dto-factories.ts
  packages/application/src/test-factories/event-factories.ts
  packages/application/src/test-factories/index.ts
  packages/application/src/test-factories/test-builders.ts
  packages/application/src/use-cases/RedoLastAction.test.ts
  packages/application/src/use-cases/UndoLastAction.test.ts
Due: application

docs: add CLAUDE.md for AI development guidance
  CLAUDE.md
Due: none

feat(eslint): enhance security with eslint-comments plugin and improved test handling
  eslint.config.js
  package.json
  packages/application/src/dtos/CompleteAtBatSequenceCommand.test.ts
  packages/application/src/test-factories/mock-factories.ts
  packages/application/src/test-factories/test-scenarios.ts
  packages/application/src/test-utils/auth-test-constants.ts
  packages/application/src/use-cases/EndInning.test.ts
  packages/application/src/use-cases/RecordAtBat.test.ts
  packages/application/src/use-cases/RedoLastAction.test.ts
  packages/application/src/utils/UseCaseErrorHandler.test.ts
  packages/application/src/utils/UseCaseLogger.test.ts
  pnpm-lock.yaml
Due: application

refactor(application): consolidate test utilities with factory patterns and improve coverage
  eslint.config.js
  packages/application/src/dtos/AtBatResult.test.ts
  packages/application/src/dtos/EndGameCommand.test.ts
  packages/application/src/services/GameApplicationService.test.ts
  packages/application/src/test-factories/command-factories.ts
  packages/application/src/test-factories/dto-factories.ts
  packages/application/src/test-factories/index.ts
  packages/application/src/test-factories/mock-factories.test.ts
  packages/application/src/test-factories/mock-factories.ts
  packages/application/src/test-factories/mock-service-factories.ts
  packages/application/src/test-factories/test-scenarios.test.ts
  packages/application/src/test-factories/test-scenarios.ts
  packages/application/src/use-cases/EndInning.ts
  packages/application/src/use-cases/RecordAtBat.test.ts
  packages/application/src/use-cases/RecordAtBat.ts
  packages/application/src/use-cases/RedoLastAction.test.ts
  packages/application/src/use-cases/StartNewGame.test.ts
  packages/application/src/use-cases/SubstitutePlayer.ts
  packages/application/src/utils/UseCaseErrorHandler.test.ts
  packages/application/src/utils/UseCaseLogger.test.ts
  packages/application/src/utils/documentation-constants.test.ts
  packages/application/src/utils/documentation-constants.ts
  packages/application/src/utils/index.ts
Due: application

refactor: align player count standards across codebase
  docs/design/api-contracts.md
  docs/design/domain-model.md
  docs/design/use-cases.md
  packages/application/src/dtos/StartNewGameCommand.test.ts
  packages/application/src/dtos/StartNewGameCommand.ts
  packages/application/src/test-factories/command-factories.ts
  packages/application/src/test-factories/dto-factories.ts
  packages/application/src/use-cases/StartNewGame.test.ts
  packages/application/src/use-cases/StartNewGame.ts
  packages/domain/src/constants/FieldPosition.ts
  packages/domain/src/rules/SoftballRules.ts
  packages/domain/src/services/LineupValidator.test.ts
  packages/domain/src/services/LineupValidator.ts
  packages/domain/src/strategies/DetailedTeamStrategy.test.ts
  packages/domain/src/strategies/SimpleTeamStrategy.test.ts
  packages/domain/src/strategies/TeamStrategy.test.ts
  packages/domain/src/test-utils/TestLineupBuilder.test.ts
  packages/domain/src/test-utils/TestLineupBuilder.ts
Due: domain, application

feat: standardize player limits and terminology across codebase
  docs/design/api-contracts.md
  docs/design/domain-model.md
  packages/application/src/dtos/GameStartResult.ts
  packages/application/src/dtos/GameStatisticsDTO.test.ts
  packages/application/src/dtos/PlayerInGameDTO.ts
  packages/application/src/dtos/StartNewGameCommand.test.ts
  packages/application/src/dtos/StartNewGameCommand.ts
  packages/application/src/dtos/SubstitutePlayerCommand.test.ts
  packages/application/src/dtos/SubstitutePlayerCommand.ts
  packages/application/src/dtos/SubstitutionResult.test.ts
  packages/application/src/dtos/SubstitutionResult.ts
  packages/application/src/dtos/TeamLineupDTO.ts
  packages/application/src/use-cases/StartNewGame.test.ts
  packages/application/src/use-cases/StartNewGame.ts
  packages/application/src/use-cases/SubstitutePlayer.test.ts
  packages/application/src/use-cases/SubstitutePlayer.ts
  packages/domain/src/aggregates/InningState.ts
  packages/domain/src/aggregates/TeamLineup.test.ts
  packages/domain/src/aggregates/TeamLineup.ts
  packages/domain/src/constants/FieldPosition.ts
  packages/domain/src/events/CurrentBatterChanged.test.ts
  packages/domain/src/events/CurrentBatterChanged.ts
  packages/domain/src/events/PlayerSubstitutedIntoGame.ts
  packages/domain/src/rules/RuleVariants.test.ts
  packages/domain/src/rules/RuleVariants.ts
  packages/domain/src/rules/SoftballRules.test.ts
  packages/domain/src/rules/SoftballRules.ts
  packages/domain/src/services/LineupValidator.test.ts
  packages/domain/src/services/LineupValidator.ts
  packages/domain/src/services/SubstitutionValidator.test.ts
  packages/domain/src/strategies/BaseTeamStrategy.ts
  packages/domain/src/utils/BattingSlotValidation.ts
  packages/domain/src/value-objects/BattingSlot.ts
Due: domain, application

test(domain): add Game event sourcing tests for fromEvents() and applyEvent()
  CLAUDE.md
  packages/domain/src/aggregates/Game.test.ts
  packages/domain/src/aggregates/Game.ts
  packages/domain/src/value-objects/GameScore.ts
Due: domain

feat(domain): add TeamLineup event sourcing for fromEvents() and applyEvent()
  packages/domain/src/aggregates/TeamLineup.test.ts
  packages/domain/src/aggregates/TeamLineup.ts
Due: domain

Path conditions:
  domain: any of: packages/domain/, but not: **/*.test.ts, **/*.spec.ts, **/test/**, **/tests/**, **/__tests__/**, **/coverage/**, **/node_modules/**, **/dist/**, **/build/**, **/*.d.ts, **/vite.config.ts, **/vitest.config.ts, **/*.config.js, **/*.config.ts
  application: any of: packages/application/, but not: **/*.test.ts, **/*.spec.ts, **/test/**, **/tests/**, **/__tests__/**, **/coverage/**, **/node_modules/**, **/dist/**, **/build/**, **/*.d.ts, **/vite.config.ts, **/vitest.config.ts, **/*.config.js, **/*.config.ts
  infrastructure: any of: packages/infrastructure/, but not: **/*.test.ts, **/*.spec.ts, **/test/**, **/tests/**, **/__tests__/**, **/coverage/**, **/node_modules/**, **/dist/**, **/build/**, **/*.d.ts, **/vite.config.ts, **/vitest.config.ts, **/*.config.js, **/*.config.ts
  shared: any of: packages/shared/, but not: **/*.test.ts, **/*.spec.ts, **/test/**, **/tests/**, **/__tests__/**, **/coverage/**, **/node_modules/**, **/dist/**, **/build/**, **/*.d.ts, **/vite.config.ts, **/vitest.config.ts, **/*.config.js, **/*.config.ts
  web: any of: apps/web/, but not: **/*.test.ts, **/*.spec.ts, **/test/**, **/tests/**, **/__tests__/**, **/coverage/**, **/node_modules/**, **/dist/**, **/build/**, **/*.d.ts, **/vite.config.ts, **/vitest.config.ts, **/*.config.js, **/*.config.ts
